.rect-background {
    fill: #202020;
}

#viz svg.header {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

#viz svg.matrix {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

.column-title,
.row-title {
    fill: #f1e7d0;
    font-weight: 100;
}

.column-title.active,
.row-title.active {
    fill: red;
}

#viz_pane svg {
    /*border:2px solid #fff;*/
    margin-left:3px;
    margin-bottom:0;
    float: left;
}

.cell {
    stroke: none;
}

.color-scale svg rect {
    fill: url(#gradient);
    stroke: none;
}

.color-scale text {
    fill: #202020;
    font-weight: 500;
}