.rect-background {
    fill: #202020;
}

#viz svg.header {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

#viz svg.matrix {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

.column-title,
.row-title {
    fill: #f1e7d0;
    font-weight: 100;
}

.column-title.active,
.row-title.active {
    fill: red;
}

.cell {
    stroke: none;
}

svg.color-scale rect {
    fill: url(#gradient);
    stroke: none;
}

svg.color-scale text {
    fill: #202020;
    font-weight: 500;
}