@import 'grid';

/////////////////////////
// CONFIG
/////////////////////////

$total_width: 100%;
$container_margin: 2%;
$gutter_width: 2%;
$max_width: 100%;
$max_height: 100%;

$color_gold: #d8c568;
$color_grey: #cccccc;
$color_fairly_black: #2C2C2C;
$color_almost_black: #010101;
$color_black_1: rgba(0, 0, 0, 1.0);
$color_black_trans: rgba(0, 0, 0, 0.5);

@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=#{$trans * 100});
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.trans-bg {
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.6);

	h2 {
		margin: 0;
	}
}

.fixed {
	position: fixed !important; 
}

div.side-nav {
	h4 {
		margin: 0 0;
	}
}

div.publication {
	margin: 0 auto;

	width: 45em;
	min-width: 40em;
	max-width: 50em;
	max-height: 65%;
	overflow-y: auto;
	font-size: 1em;  // 16px
	line-height: 1.5em; // 24px

	// TODO Incorporate scroll effect
	// -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 1);
	// box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

	p {
		margin-bottom: 1em;
	}

	div.figure {
		img {
			width: 70%;
			margin: 0 auto;
			display: block;
		}

		div.label {
			div.title {
				text-transform: uppercase;
			}
		}
	}
}

body {
	max-width: $max_width;

	// background:url(/joseon_palace_light_blur.png) no-repeat center center fixed;
	background:url(/joseon_palace_dark_no_grain.png) no-repeat center center fixed;
	// background:url(/LoC_forum_boario_grain.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Lato';
	font-weight: 300;
	color: $color_grey;
}

// Overlay
#grid {
	width: $total_width;
	max-width: $max_width;
	margin: 0 auto;	
	pointer-events: none;
	z-index: 9001;
	overflow: visible !important;
	
	div{
		@include container();

		position: absolute;
		top:0px;
		left: 0px;
		height: 100%;
		opacity: 0.5;
  		// filter: alpha(opacity=50);

		div{
			@include column(1);
			height: 100%;
			background: black;
		}

		@include generate_grid_positions(div, 1);
	}
}

header {
	top: 0;
	position: fixed;
	width: $total_width;
	max-width: $max_width;

	margin: 0 auto;

	.logo {
		@include column(2);
		position: relative;
		top: 0;

	    margin: 0 auto;
	    padding: 15px;

	    background-color: $color_black_trans;

	    border-bottom-left-radius: 3px;
	    border-bottom-right-radius: 3px;

	    float: none;

	    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
	    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);

	    a {
	    	margin: 0 auto;
	    }

	    img {
		    width: 100%;
		    height: auto;
		    width: auto\9;
	    }
	}
}

nav {
	position: absolute;
	top: 50%;
	margin-top: -25px;

	width: $total_width;
	height: 50px;
	background-color: $color_black_trans;

	font-size: 1.25em;
	color: $color_grey;

	-webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 7px rgba(0,0,0,0.25);

	a {
		color: $color_grey;
		text-decoration: none;
	}

	.selected_section a {
		border-bottom: 3px solid $color_grey;
	}

	div.left_sections_nav {
		padding-left: $container_margin;
		display: table-cell;
		@include column(5);
		height: 100%;
		position: relative;
		line-height: 2.5em;
		margin-top: 0;

		div.main_nav {
			float: left;
			text-align: center;
			width: 33%;
		}

		div.main_nav:first-child {
			text-align: left;  
			width: 16%;    
		}
		div.main_nav:last-child {
			float: right;
			text-align: right;   
			width: 16%;
		}
	}

	div.right_sections_nav {
		padding-left: $container_margin;
		display: table-cell;
		@include column(5, 7);
		height: 100%;
		position: relative;
		line-height: 2.5em;
		margin-top: 0;

		div.main_nav {
			float: left;
			text-align: center;
			width: 33%;
		}

		div.main_nav:first-child {
			text-align: left;  
			width: 16%;    
		}
		div.main_nav:last-child {
			float: right;
			text-align: right;   
			width: 16%;
		}
	}

} // Closes Nav

#page {
	@include container();
	@include clearfix();
	// TODO Proper vertical centering and sizing
	height: 80%;
	margin-top: 10%;
	max-width: $max_width;
	max-height: $max_height;

	.page-top {
		.question {
			font-size: 2em; // 32px / 1px
			text-align: center;
			font-family: 'Lato', 'PT Serif', Times;

			margin-bottom: $gutter_width;

			color: #d8c568;

			.bold {
				font-weight: 500;
			}
		}
	}

	> div {
//		border: 1px solid red;
	}

	.page-left {
		@include opacity(0.5);
		@include column(2);
		position: relative;

		height: 100%;

		min-width: 15em;
	}

	.page-middle {
		@include column(8, 2);  // TODO: Optimize the text portions

		position: relative;
		height: 100%;

		// Visualization
		svg {
			opacity: 1.0; // 0.85;
		}

		video {
			max-width: 100%;
		}

		// Legends
		.legend {
			position: absolute;
			bottom: 0;
			width: 750px;

			.pill {
				float:left;
				padding-left:11.7px;
				padding-right:11.7px;
				padding-top:6px;
				padding-bottom:6px;
				font-size:13px;
				color:#000000;
				cursor:pointer;
			}
		}

		// TODO Incorporate breakpoints
		.team {
			width: $total_width;
			max-width: $max_width;
			margin: 0 auto;	

			ul {
				list-style: none;

				li:nth-child(4) {
					clear: left;
				}
			}

			ul li:nth-child(3n+1) {
				@include column(4, 0);
			}

			ul li:nth-child(3n+2) {
				@include column(4, 4);
			}

			ul li:nth-child(3n+3) {
				@include column(4, 8);
			}
		}

		// People page

		.person-header {
			padding-bottom: 4em;
			div.name {
				float: left;
			}

			div.contribute {
				float: right;
			}
		}
		.description {
			clear: both;
		}
		.ranking {

		}
	}

	.page-right {
		@include opacity(0.5);
		@include column(2, 10);
	}
}

#viz svg {
    float: left;
}

.scroll-container {
	width:100%;
	height: 405px;
	overflow-y: scroll;
	position: relative;
}

.loading {
	height: 100px;
	width: 100px;
	margin: auto auto;
}

.section-header {
	text-align: center;
	text-transform: uppercase;
	// padding-top: 8px;
	padding-bottom: 14px;
	letter-spacing: 1px;
	color: #cccccc;
}

// TOOLTIPS
#tooltip {
	display: none;
	position: absolute;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;

	span.category {
		font-weight: 700;
		font-size: 1.1em;
		letter-spacing: 2px;
	}
	div.list {
		height: 100%;
		width: 100%;
		border-top: 1px solid #cccccc;
		margin-top:6px;
	}
	span.extras {
		font-size: 80%;
	}
	div.list {
		span.birthplace {
			font-size:70%;
		}
	}
}

.ranked_list {
	color:  #cccccc;
	overflow:hidden;
	line-height: 18px;
	max-height: 100%;

	li {
		padding-bottom: 0.75em;

		span {
			padding-left: 1.5em;
			font-size: 70%;
		}
	}

	ol {
		margin: 0;
		padding-left: 0;
		list-style-position: inside;
	}
}

div.scale {
	position: absolute;
	bottom: 0;
}

.parameter-selection {
	height: 30px;
}

div.selector {
	position: absolute;
	right: 0;
}

select {
	width:120px;

	option {
		color:black;
	}
}

footer {
	position: fixed;
	bottom: 0;
	background: $color_almost_black;
	width: 100%;

	opacity: 0.5;

	font-size: 1em;
	div.footer-license {
		text-align: center;
		margin: 0 auto;
	}

	div.show-grid {
		float: right;
	}
}

// Accordion
.accordion {
	opacity: 1.0;
    height: 100%;

    h3.app {
    	background-color: #2b2b2b;
    	border-radius: 0px;
    	padding: 5px;
    	font-weight: 300;
    	text-align: center;
    	color: white;
    	font-size: 0.75em;
    	letter-spacing: 1px;
    }

    div {
    	margin-left:0;
    	padding-left:12px;
    	ul {
    		margin-left:0;
    		padding-left:0;
    		margin-top:2px;
    		li {
    			margin-left:20px;
    			padding-left:0;
    			a {
    				color: $color_grey;
    			}
    		}
    	}
    }
}

// Matrix

.rect-background {
    fill: #202020;
}

#viz svg.header {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

#viz svg.matrix {
    background-color: rgba(0, 0, 0, 0.8);
    border-width: 0;
}

.column-title,
.row-title {
    fill: #f1e7d0;
    font-weight: 100;
}

.column-title.active,
.row-title.active {
    fill: red;
}

.cell {
    stroke: none;
}

svg.color-scale rect {
    fill: url(#gradient);
    stroke: none;
}

svg.color-scale text {
	fill: #202020;
	font-weight: 500;
}