// Parameters
$color_gold: #d8c568;
$color_grey: #cccccc;
$color_fairly_black: #2C2C2C;
$color_almost_black: #010101;
$color_black_1: rgba(0, 0, 0, 1.0);
$color_black_trans: rgba(0, 0, 0, 0.5);

@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=#{$trans * 100});
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin fade {
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body { height: 100%; }

.wrapper { min-height: 100%; }

h2 { 
	font-weight: 500;
}

.scatter-container {
	padding: 1em;
}

.trans-bg {
	// padding: 2em;
	background-color: $color_black_trans;
}

.fixed {
	position: fixed !important; 
}

.sidenav {
	opacity: 1.0 !important;
	padding: 2em;

	.spacer { height: 4.0em; }
	
	a {
		text-decoration: none;
		color: $color_grey;
		&:hover { color: $color_gold; }
	}

	h1 {
		font-size: 1.0em;
		margin: 1.2em 0 .2em 0;
	}

	h2 {
		font-size: 1.0em;
		font-weight: normal;
		margin: .6em 0 .3em 0;
	}

	h3 {
		font-size: .8em;
		font-weight: normal;
		margin: 4px 0px 4px 0px;
		padding-left: 10px;
		color: #333333;
		letter-spacing: 0px;
	}

	h4 {
		margin: 0 0;
	}
}

div.text {
	margin: 0 auto;
	padding: 2em;
	border-radius: 3px;
	// TODO Make this work
	// -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);
	// box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);

	h2 {
		margin-top: 0;
		margin-bottom: 1em;
		line-height: 1em;
	}

	max-height: 65%;
	overflow-y: auto;
	font-size: 1em;  // 16px
	line-height: 1.5em; // 24px

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	figure {
		img {
			width: 70%;
			margin: 0 auto;
			display: block;
		}

		figcaption {
			div.title {
				text-transform: uppercase;
			}
		}
	}
}

body {
	// background:url(/joseon_palace_light_blur.png) no-repeat center center fixed;
	background:url(/joseon_palace_dark_no_grain.png) no-repeat center center fixed;
	// background:url(/LoC_forum_boario_grain.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Lato';
	font-weight: 300;
	color: $color_grey;
}

header {
	border-bottom: 3px solid $color_gold;

	.navbar-inner {
	    border: 0;
	    background: $color_almost_black;
	    // opacity: 0.5;
	    // &:hover { opacity: 1.0 }
    
	    .nav > li > a {
	    	color: $color_grey;
	    	text-decoration: none;
	    	text-shadow: none;
	    	font-size: 1.25em;
	    	line-height: 2.5em;
    
	    	&:hover { color: $color_gold !important; }
	    }
    
	    .selected_section a {
	    	color: $color_gold !important;
	    }

	    .pull-left {
	    	li {
	    		padding-right: 1.5em;
	    	}
	    }
    
	    .pull-right {
	    	padding-right: 40px;
	    	li {
	    		padding-left: 1.5em;
	    	}
	    }
    }

    // TODO Redo this
    .logo {
    	z-index: 10000;
    	position: absolute;
    	top: 0;
    	width: 250px;
    
    	margin-left: -125px;
        left: 50%;
        padding: 15px;
        background-color: $color_black_1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        float: none;
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
        a {
        	margin: 0 auto;
        }
        img {
        	min-width: 100px;
    	    width: 100%;
    	    height: auto;
    	    width: auto\9;
        }
    }
}

.page-top {
	padding-top: 10%;
	color: $color_gold;
    .bold {
    	font-weight: 500;
    }

    .primary-text {
    	font-size: 2em; // 32px / 1px
    	line-height: 1em;
    	padding-bottom: 1em;
    	text-align: center;
    	text-shadow: 0.5px 0.5px 1.0px black, -0.5px -0.5px 1px black;

    	b {
    		font-weight: 500;
    	}
    }

    .name {
    	text-transform: capitalize;
    }
}

#page {
	// TODO Proper vertical centering and sizing

	.page-left {
		@include no-select;
		@include fade;
		@include opacity(0.5);
		position: relative;
		float: left;
		.spacer { height: 3.0em; }
		&:hover { @include opacity(1.0); }
	}
	.page-middle {
		// Visualization
		svg {
			@include opacity(1.0);  // 0.85
		}

		video {
			max-width: 100%;
		}

		// Legends
		.legend {
			position: absolute;
			bottom: 0;
			// width: 750px;

			.pill {
				float:left;
				padding-left:11.7px;
				padding-right:11.7px;
				padding-top:6px;
				padding-bottom:6px;
				font-size:13px;
				color:#000000;
				cursor:pointer;
			}
		}

	// About page
	    div ul {
	    	padding: 0;
	    	li {
	    		text-align: center;

	    		&:hover {
	    			img.photo {
	    				-webkit-filter: #{'grayscale(0%)'};
	    				-moz-filter: #{'grayscale(0%)'};
	    				filter: #{'grayscale(0%)'};
	    			}
	    		}

	    		span {
	    			color: $color_gold;
	    			// text-transform: uppercase;
	    		}

	    		div.photo_container {
	    			position: relative;
	    		}

	    		div.info {
	    			@include opacity(0.0);
	    			position: absolute;
	    			bottom: 1em;
	    			right: 0;
	    			width: 100%;


	    			a {
	    				text-decoration: none;
	    				color: white;
	    				text-shadow: 0.5px 0.5px 1.0px black, -0.5px -0.5px 1px black;
	    				&:hover { 
	    					color: $color_gold; 
	    				}
	    			}

	    		}

	    		div.role {
	    			font-size: 0.8em;
	    			ul {
	    				list-style-type: none;
	    				// opacity: 0.6;
	    				// &:hover { opacity: 1.0; }
	    				li {
	    					// border: 1px solid white;
	    					// border-radius: 3px;
	    					padding-left: 4px;
	    					padding-right: 2px;
	    					display: inline;
	    					list-style-type: none;
	    					border-left: 1px solid #FFF
	    				}
	    				li:first-child {
	    					border-left: none;
	    				}
	    			}
	    		}
	    		
	    		img.photo {
	    			display: block;
	    			margin: 1em auto;
	    			width: 150px;
	    			height: auto;
	    			border: 2px solid black;

	    			-webkit-border-radius: 3px;
	    			-moz-border-radius: 3px;
	    			-khtml-border-radius: 3px;  
	    			border-radius: 3px;

	    			-webkit-filter: #{'grayscale(100%)'};
	    			-moz-filter: #{'grayscale(100%)'};
	    			filter: #{'grayscale(100%)'};

	    			-webkit-transition: 0.25s all ease-in; 
	    			-o-transition: 0.25s all ease-in;
	    			-moz-transition: 0.25s all ease-in;
	    			transition: 0.25s all ease-in;
	    		}

	    		div.desc {
	    			font-size: 0.9em;
	    		}
	    	}
	    }

		.description {
			clear: both;
		}
	}

	.page-right {
		@include fade;
		@include opacity(0.5);
		@include no-select;
		float: right;
		&:hover { @include opacity(1.0); }
	}
}

// People page
.name {
	input {
		background-color: transparent;
		:focus {
			outline: 0 none;
			box-shadow: none;
		}
	}
}

.scroll-container {
	width: 100%;
	height: 405px;
	margin-top: -5px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

.loading {
	height: 100px;
	width: 100px;
	margin: auto auto;
}

.section-header {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 14px;
	// color: $color_gold;
	letter-spacing: 1px;
	color: #cccccc;
}

// TOOLTIPS
#tooltip {
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	border-radius: 2px;

	#tooltip-inner {
		margin: 0.5em;
		span.category {
			text-transform: uppercase;
			color: $color_gold;
			letter-spacing: 1px;
		}
		div.total-count {
			// color: $color_gold;
		}
		div.list {
			height: 100%;
			width: 100%;
			border-top: 1px solid $color_gold;
			margin-top:3px;

			span.birthplace {
				font-size: 70%;
			}
		}
		span.extras {
			font-size: 70%;
		}
	}	
}

.ranked_list {
	color: #cccccc;
	overflow:hidden;
	line-height: 18px;
	max-height: 100%;

	li {
		padding-bottom: 0.75em;
		span {
			padding-left: 1.5em;
			font-size: 70%;
		}
	}

	ol {
		margin: 0;
		padding-left: 0;
		list-style-position: inside;
	}
}

div.scale {
	position: absolute;
	bottom: 0;
}

.parameter-selection {
	height: 30px;
}

div.range {
	font-size: 1.2em;
}

div.selector, div.range {
	position: absolute;
	right: 0;
	margin-top: -30px;
}

select {
	width:120px;

	option {
		color:black;
	}
}

footer {
	@include fade;
	@include no-select;
	// @include opacity(0.5);
	// &:hover { @include opacity(1.0); }

	position: relative;
	bottom: 0;

	margin-top: 2em;

	line-height: 1.5em;
	padding: 0.3em 0;

	background: $color_almost_black;
	border-top: 3px solid $color_gold;

	div.footer-license {
		text-align: center;
		margin: 0 auto;

		a {
			text-decoration: none;
			color: $color_grey;
			&:hover { color: $color_gold; }
		}
	}
}

// Accordion
.accordion {
    h3.app {
    	background-color: #2b2b2b;
    	border-radius: 0px;
    	padding: 5px;
    	font-weight: 300;
    	text-align: center;
    	color: white;
    	font-size: 0.75em;
    	letter-spacing: 1px;
    }

    div {
    	margin-left:0;
    	padding-left:12px;
    	ul {
    		margin-left:0;
    		padding-left:0;
    		margin-top:2px;
    		li {
    			margin-left:20px;
    			padding-left:0;
    			a {
    				text-decoration: none;
    				color: $color_grey;
    				&:hover { color: $color_gold; }
    			}    		
    		}
    	}
    }
}

.ui-slider {clear: both; top: 5em;}

// .slider-row {
// 	clear: both;
// }

// .ui-slider {
// 	position: relative;
// 	text-align: left;
// }
// .ui-slider .ui-slider-handle {
// 	position: absolute;
// 	z-index: 2;
// 	width: 1.2em;
// 	height: 1.2em;
// 	cursor: default;
// }
// .ui-slider .ui-slider-range {
// 	position: absolute;
// 	z-index: 1;
// 	font-size: .7em;
// 	display: block;
// 	border: 0;
// 	background-position: 0 0;
// }

// /* For IE8 - See #6727 */
// .ui-slider.ui-state-disabled .ui-slider-handle,
// .ui-slider.ui-state-disabled .ui-slider-range {
// 	filter: inherit;
// }

// .ui-slider-horizontal {
// 	height: .8em;
// }
// .ui-slider-horizontal .ui-slider-handle {
// 	top: -.3em;
// 	margin-left: -.1em;
// 	font-weight: 400;
// }
// .ui-slider-horizontal .ui-slider-range {
// 	top: 0;
// 	height: 100%;
// }
// .ui-slider-horizontal .ui-slider-range-min {
// 	left: 0;
// }
// .ui-slider-horizontal .ui-slider-range-max {
// 	right: 0;
// }

// .ui-slider-vertical {
// 	width: .8em;
// 	height: 100px;
// }
// .ui-slider-vertical .ui-slider-handle {
// 	left: -.3em;
// 	margin-left: 0;
// 	margin-bottom: -.6em;
// }
// .ui-slider-vertical .ui-slider-range {
// 	left: 0;
// 	width: 100%;
// }
// .ui-slider-vertical .ui-slider-range-min {
// 	bottom: 0;
// }
// .ui-slider-vertical .ui-slider-range-max {
// 	top: 0;
// }

// Slider
#slider {
	@include no-select;
	@include fade;
	@include opacity(0.5);
	&:hover { @include opacity(1.0); }
	.ui-slider {
		bottom: 0;
	}
}

// Matrix
.rect-background {
    fill: #202020;
}

#viz svg.header {
    background-color: $color_black_trans;
    border-width: 0;
}

#viz svg.matrix {
    background-color: $color_black_trans;
    border-width: 0;
}

.column-title,
.row-title {
    fill: #f1e7d0;
    font-weight: 100;
}

.column-title.active,
.row-title.active {
    fill: red;
}

.cell {
    stroke: none;
}

svg.color-scale rect {
    fill: url(#gradient);
    stroke: none;
}

svg.color-scale text {
	fill: #202020;
	font-weight: 500;
}

// Table
table.display td {
  color: black;
}

//Data tree
#classtree .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#classtree .node text {
  font-size: 11px;
}

#classtree path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#classtree #chart, #header{
  position: absolute;
  top: 0;
}

#classtree rect {
  fill: none;
  pointer-events: all;
}

#classtree pre {
  font-size: 18px;
}

#classtree line {
  stroke: #000;
  stroke-width: 1.5px;
}

#classtree .string, .regexp {
  color: #f39;
}

#classtree .keyword {
  color: #00c;
}

#classtree .comment {
  color: #777;
  font-style: oblique;
}

#classtree .number {
  color: #369;
}

#classtree .class, .special {
  color: #1181B8;
}

#classtree a:link, a:visited {
  color: #000;
  text-decoration: none;
}

#classtree a:hover {
  color: #666;
}
