/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #d8c568;

  position: absolute;
  z-index: 1000;
  top: 63px;
  left: 0;

  width: 100%;
  height: 3px;
}