<template name="about">
	<div class="page-top">
		<div class="primary-text">
			About the Culture Team
		</div>
	</div>
	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle trans-bg text span6 offset3">
				<p>Cultural Exports is being developed by a multidisciplinary team dolor ipsum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sapien a ante posuere sodales et id massa. Aenean tempus magna id felis vulputate id ornare elit tristique. Nunc quis odio sit amet tellus egestas mattis at pellentesque elit. Fusce facilisis neque sed urna porta egestas.</p>
				<div class="row-fluid">
					<ul>
						<li class="span4">
							<span class="name">César A. Hidalgo</span>
							<img class="photo" src="images/cesar_hidalgo.png" />
							<div>
								Director</br></br>
								ABC Career Development Professor of Media Arts and Sciences, MIT Media Lab
							</div>
						</li>
						<li class="span4">
							<span>Amy Zhao Yu</span>
							<img class="photo" src="images/amy_yu.png" />
							<div>							
								Second Year Graduate Student
							</div>
						</li>
						<li class="span4">
							<span>Kevin Zeng Hu</span>
							<img class="photo" src="images/kevin_hu.png" />
							<div>
								First Year Graduate Student
							</div>
						</li>
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						<li class="span4">
							<span>Ali Almossawi</span>
							<img class="photo" src="images/ali_almossawi.jpg" />
							<div>
								Mozilla Corporation
							</div>
						</li>
						<li class="span4">
							<span>Shahar Ronen</span>
							<img class="photo" src="images/shahar_ronen.png" />
							<div>
								Alumnus
							</div>
						</li>
						<li class="span4">
							<span>Defne Gurel</span>
							<img class="photo" src="images/defne_gurel.png" />
							<div>
								Computer Science Undergraduate at MIT
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>