<template name="about">
	<div class="page-top">
		<div class="page-middle trans-bg">

			<p>Cultural Exports is being developed by a multidisciplinary team dolor ipsum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sapien a ante posuere sodales et id massa. Aenean tempus magna id felis vulputate id ornare elit tristique. Nunc quis odio sit amet tellus egestas mattis at pellentesque elit. Fusce facilisis neque sed urna porta egestas.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sapien a ante posuere sodales et id massa. Aenean tempus magna id felis vulputate id ornare elit tristique. Nunc quis odio sit amet tellus egestas mattis at pellentesque elit. Fusce facilisis neque sed urna porta egestas.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae sapien a ante posuere sodales et id massa. Aenean tempus magna id felis vulputate id ornare elit tristique. Nunc quis odio sit amet tellus egestas mattis at pellentesque elit. Fusce facilisis neque sed urna porta egestas.</p>

			<article class="team">
				<ul>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Cesar A. Hidalgo</span><br />
							Director, Macro Connections, The MIT Media Lab<br />
							ABC Career Development Professor of Media Arts and Sciences, The MIT Media Lab</span>
						</div>
					</li>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Amy Zhao Yu</span><br />
							Graduate Student in Media Arts and Sciences, Macro Connections, The MIT Media Lab </span>
						</div>
					</li>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Kevin Hu</span><br />
							Graduate Student in Media Arts and Sciences, Macro Connections, The MIT Media Lab </span>
						</div>
					</li>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Ali Almossawi</span><br />
							Mozilla Corporation</span>
						</div>
					</li>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Shahar Ronen</span><br />
							Graduated with a Master in Media Arts and Sciences, Macro Connections, The MIT Media Lab 
						</span>
					</li>
					<li>
						<img src="images/mystery_man.png" />
						<div>
							<span>Defne Gurel</span><br />
							UROP</span>
						</div>
					</li>
				</ul>
			</article>
		</div>
	</div>
</template>