<template name="faq">
	<div class="page-top">
		<div class="primary-text">
			Frequently Asked Questions
		</div>
	</div>
	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle trans-bg text span6 offset3">
				<h2>What is this?</h2>
				<p>Measuring development is difficult.  Most of the widely accepted measures of progress, such as GDP per capita or the Human Development Index, are aggregates in which wealth, health and education are mixed together, but where people’s activities and achievements are not considered.</p>
				<h2>Why do I care?</h2>
				<p>Our civilization, however, has been able to achieve much more than providing services and purchasing power to an increasing population. Our history is punctuated by achievements, from the works of Leonardo da Vinci to the footsteps of Neil Armstrong, and from the musical scale of Pythagoras to Newton’s Laws of Motion. </p>
				<h2>How is the data collected?</h2>
				<p>But can we create measures of progress that take into account our culture’s achievements? Can we create measures of human progress that incorporate the development of music, literature, physics, astronomy, politics, theatre and sports? Can we create measures of human progress that focus on what we have been able to achieve, instead of what we lack?</p>
			</div>
		</div>
	</div>
</template>