<template name="map">
    <div class="page-middle">
        <div id="viz" class="map">
            {{#if dataReady}}
            {{> map_svg}}
            <div class="scale">
                <svg class="color-scale"></svg>
            </div>
            {{else}}
            {{> spinner}}
            {{/if}}
        </div>
</template>

<template name="map_svg">
    <div id="geomap" width="{{properties.width}}" height="{{properties.height}}"></div>
    <div id="container" style="position: relative; width: 800px; height: 540px;"></div>
</template>
