<template name="matrix">
    <div id="viz" class="matrix">
        {{#if dataReady}}
            {{> matrix_svg}}
        {{else}}
            {{> spinner}}
        {{/if}}
    <div class="color-scale">
      	<svg></svg>
    </div>
</template>

<template name="matrix_svg">
    <svg class="header" width="{{properties.width}}" height="{{properties.headerHeight}}"></svg>
    <div class="scroll-container">
        <svg class="matrix" width="{{properties.width}}" height="{{properties.height}}"></svg>
    </div>
  </div>
</template>