<template name="matrix">
    <div class="page-middle">
        <div id="viz" class="matrix">
            {{#if dataReady}}
                {{> matrix_svg}}
            {{else}}
                {{> spinner}}
            {{/if}}
        <div>
          	<svg class="color-scale"></svg>
        </div>
    </div>
</template>

<template name="matrix_svg">
    <svg class="header" width="{{properties.fullWidth}}" height="{{properties.headerHeight}}"></svg>
    <div class="scroll-container">
        <svg class="matrix" width="{{properties.fullWidth}}" height="{{properties.fullHeight}}"></svg>
    </div>
  </div>
</template>