<template name="matrix">
    <div class="page-middle span8">
        <div id="viz" class="matrix">
            {{#if dataReady}}
                {{> matrix_svg}}
                <div class="scale">
                    <svg class="color-scale"></svg>
                </div>
            {{else}}
                {{> spinner}}
            {{/if}}     
        </div>
    </div>
</template>

<template name="matrix_svg">
    <svg class="header" width="{{properties.fullWidth}}" height="{{properties.headerHeight}}"></svg>
    <div class="scroll-container">
        <svg class="matrix" width="{{properties.fullWidth}}" height="{{properties.fullHeight}}"></svg>
    </div>
  </div>
</template>