<template name="observatory">
    <div class="copy exploretop">
        <div id="apps">

            {{> accordion}}

            <div style="clear:both"></div>
        </div>

        {{> ranked_list }}

        <div id="viz_container">
        </div>

        <div id="question">What does the world export?</div>
        <div id="viz_options">
            {{> select_mode }}
        </div>

        <div>
        </div>
    </div>

    <div id="viz_pane">
        <div id="viz">
            <svg width="725" height="580"></svg>
        </div>

        <div class="color_scale">
            <svg></svg>
        </div>

        <div class="legend">
            <div id="institutions" class="pill" style="background-color:#ECD078">Institutions</a></div>
            <div id="arts" class="pill" style="background-color:#D95B43">Arts</div>
            <div id="humanities" class="pill" style="background-color:#43c1d9">Humanities</div>
            <div id="business_and_law" class="pill" style="background-color:#C02942">Business &amp; Law</div>
            <div id="exploration" class="pill" style="background-color:#546c97">Exploration</div>
            <div id="public_figure" class="pill" style="background-color:#d278c2">Public Figure</div>
            <div id="science_and_technology" class="pill" style="background-color:#53a9f1">Science &amp; Technology</div>
            <div id="sports" class="pill">Sports</div>
        </div>
    </div>

    <div id="tooltip"></div>

    {{afterBody}}
</template>

<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <span class="app_subtitle">Country</span>
            <ul>
                <li><span class="treemap selected"><a href="#" id="country_exports">Exports</a></span></li>
                <li><span><a href="#" class="treemap" id="country_imports">Imports</a></span></li>
            </ul>
            <span class="app_subtitle">Domain</span>
            <ul>
                <li><span><a href="#" class="treemap" id="domain_exports_to">Exporters</a></span></li>
                <li><span><a href="#" class="treemap" id="domain_imports_from">Importers from</a></span></li>
            </ul>
            <span class="app_subtitle">Bilateral</span>
            <ul>
                <li><span><a href="#" class="treemap" id="bilateral_exporters_of">Exports to</a></span></li>
                <li><span><a href="#" class="treemap" id="bilateral_importers_of">Exporters of</a></span></li>
            </ul>
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <ul>
                <li><span><a href="#" class="matrix" id="matrix_exports">World Exports</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="#" class="scatterplots" id="country_vs_country">Country vs. Country</a></span></li>
                <li><span><a href="#" class="scatterplots" id="lang_vs_lang">Language vs. Language</a></span></li>
            </ul>
        </div>
    </div>
</template>

<template name="ranked_list">
    <div id="ranked_list">
        <div class="header">RANKING OF PEOPLE</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                    {{#each top10}}
                    {{> ranked_person}}
                    {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
</template>

<template name="ranked_person">
    <li style="padding-bottom:5px">
        {{! insert thumbnail here}}
        {{name}}
        <br>
        <span style="font-size:70%">
            {{occupation}}, born {{birthday}} ({{numlangs}})
        </span>
    </li>
</template>
