<!-- Non-visualization specific Observatory elements (e.g. accordion, menu) -->
<template name="observatory">
    <div class="copy exploretop">

        <div id="viz_options">
            <div id="parameters" class="section_header">
                Parameters
            </div>
            {{> select_mode }}
        </div>

        <div id="apps">
            <div class="section_header">
                Visualizations
            </div>
            {{> accordion}}
        </div>

        <div id="viz_container">
        </div>
        
        {{> question}}
        
    </div>

    <!-- Visualization and Ranked List Container -->
    <div id="viz_pane">
        {{> visualization}}
        {{> tooltip}}
    </div>
</template>

<template name="visualization">
    {{ render_template }}
</template>

<!-- Accordion Selector -->
<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <span class="app_subtitle">Country</span>
            <ul>
                <li><span><a href="#" id="country_exports">Exports</a></span></li>
                <li><span><a href="#" id="country_imports">Imports</a></span></li>
            </ul>
            <span class="app_subtitle">Domain</span>
            <ul>
                <li><span><a href="#" id="domain_exports_to">Exporters</a></span></li>
                <li><span><a href="#" id="domain_imports_from">Importers from</a></span></li>
            </ul>
            <span class="app_subtitle">Bilateral</span>
            <ul>
                <li><span><a href="#" id="bilateral_exporters_of">Exports to</a></span></li>
                <li><span><a href="#" id="bilateral_importers_of">Exporters of</a></span></li>
            </ul>
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <ul>
                <li><span><a href="#" id="matrix_exports">World Exports</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="#" id="country_vs_country">Country vs. Country</a></span></li>
                <li><span><a href="#" id="lang_vs_lang">Language vs. Language</a></span></li>
            </ul>
        </div>
        <h3 class="app">WORLD MAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" id="country_exports">Exports</a></span></li>
            </ul>
        </div>
    </div>
</template>

<!-- Visualization and Viz-Mode specific Question -->
<template name="question">
    <div id="question">{{question}}</div>
    <!-- <div id="question">What does the world export?</div> -->
</template>

<!-- Ranked List for Treemap -->
<template name="ranked_list">
    <div class="ranked_list">
        <div class="header">RANKING OF PEOPLE</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                    {{#each top10}}
                    {{> ranked_person person_lookup}}
                    {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
</template>

<!-- Person in Ranked List -->
<template name="ranked_person">
    <li>
        {{! insert thumbnail here}}
        {{name}}
        <br>
        <span>
            {{occupation}}, born {{birthday}} ({{numlangs}})
        </span>
    </li>
</template>

<!-- Ranked list for treemap tooltip -->
<template name="popup_list">
    <span style='font-weight:700;font-size:110%;letter-spacing:2px'>{{industry}}</span>
    <br />{{count}} {{suffix}}<div style='width:100%;border-top:1px solid #cccccc;height:5px;margin-top:6px;'></div>

    {{#each top5}}
        {{> tt_person person_lookup}}
    {{/each}}

    {{#if more}}
        <br /><span style='font-size:80%'>({{extras}} more)</span>
    {{/if}}
</template>

<!-- Person in tooltip list-->
<template name = "tt_person">
    {{name}}<span style='font-size:70%'>, {{birthcity}}, {{countryName}}</span><br />
</template>