<!-- Non-visualization specific Observatory elements (e.g. accordion, menu) -->
<template name="observatory">

    <div class="page-top">            
        {{> question}}
    </div>

    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    <div class="viz-selector">
                        <div class="section-header">
                            Visualizations
                        </div>
                        {{> accordion}}
                    </div>
                    <div class="spacer"></div>
                    <div class="viz-options">
                        <div id="parameters" class="section-header">
                            Parameters
                        </div>
                        {{> select_mode }}
                    </div>
                </div>
                <!-- Visualization and Ranked List Container -->
                {{> visualization}}
                {{> tooltip}}
            </div>
            <div class="page-bottom row-fluid slider-row">
                <div class="span8 offset2">
                    {{> slider}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="visualization">
    {{ render_template }}
</template>

<template name="slider">
    <div class="slider"></div>
</template>

<!-- Accordion Selector -->
<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <span class="app_subtitle">Country</span>
            <ul>
                <li><span><a href="#" id="country_exports">Exports</a></span></li>
                <li><span><a href="#" id="country_imports">Imports</a></span></li>
            </ul>
            <span class="app_subtitle">Domain</span>
            <ul>
                <li><span><a href="#" id="domain_exports_to">Exporters</a></span></li>
                <li><span><a href="#" id="domain_imports_from">Importers from</a></span></li>
            </ul>
            <span class="app_subtitle">Bilateral</span>
            <ul>
                <li><span><a href="#" id="bilateral_exporters_of">Exports to</a></span></li>
                <li><span><a href="#" id="bilateral_importers_of">Exporters of</a></span></li>
            </ul>
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <span class="app_subtitle">Global</span>
            <ul>
            <li><span><a href="#" id="matrix_exports">Exports</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="#" id="country_vs_country">Country vs. Country</a></span></li>
                <li><span><a href="#" id="lang_vs_lang">Language vs. Language</a></span></li>
            </ul>
        </div>
        <h3 class="app">WORLD MAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" id="map">Exports</a></span></li>
            </ul>
        </div>
    </div>
</template>

<!-- Visualization and Viz-Mode specific Question -->
<template name="question">
    <div class="primary-text">{{question}}</div>
    <!-- <div id="question">What does the world export?</div> -->
</template>

<!-- Ranked List for Treemap -->
<template name="ranked_list">
    <div class="ranked_list">
        <div class="section-header">RANKINGS</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                    {{#each top10}}
                    {{> ranked_person person_lookup}}
                    {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
</template>

<!-- Person in Ranked List -->
<template name="ranked_person">
    <li>
        {{! insert thumbnail here}}
        {{name}}
        <br>
        <span>
            {{occupation}}, born {{birthday}} ({{numlangs}})
        </span>
    </li>
</template>

<!-- Tooltips -->
<template name="tooltip">
    {{#if tooltip}}
        <div id="tooltip" top="{{position.top}}" left="{{position.left}}">
            {{>tt_list individuals}}
        </div>
    {{/if}}
</template>

<template name="tt_list">
    <span class="category">
        {{categoryA}}: {{categoryB}}
    </span><br />
    {{count}} {{suffix}}
    <div class="list">
        {{#each top5}}
            {{> tt_person}}
        {{/each}}
    </div>

    {{#if more}}
    <span class="extras">({{extras}} more)</span>
    {{/if}}
</template>

<!-- Person in tooltip list-->
<template name = "tt_person">
    {{name}}<span class="birthplace">, {{birthcity}}, {{countryName}}</span><br />
</template>