<template name="people">
	<div class="page-top"></div>
	<div class="page-middle trans-bg">
		<section class="person-header">
			<div class="name"><h2>{{person}}</h2></div>
			<div class="contribute">Contribute</div>
		</section>
		<section class="description">
			Born {{birthdate}} in {{birthplace}}, {{gender}} was a {{occupation}} featured in {{num_langs}} with {{page_views}}, averaging {{avg_page_views}} in this top 25 languages.
		</section>
		<section class="ranking">
		</section>
	</div>
</template>