<template name="ranking">
    <div class="page-top">
        <div class="primary-text">
            Rankings
        </div>
    </div>

    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    <div class="viz-selector">
                        <div class="section-header">
                            Ranked Entities
                        </div>
                        {{> ranking_accordion}}
                    </div>
                </div>
                <!-- Visualization and Ranked List Container -->
                <div class="page-middle span8">
                    {{#if dataReady}}
                    {{> ranking_table}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Accordion Selector -->
<template name="ranking_accordion">
    <div class="accordion">
        <h3 class="app" id ="country_ranking">COUNTRIES</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_from}}
            {{> select_to}}
        </div>
        <h3 class="app" id="people_ranking">PEOPLE</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_country}}
            {{> select_from}}
            {{> select_to}}
        </div>
        <h3 class="app" id="domains_ranking">DOMAINS</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_country}}
            {{> select_from}}
            {{> select_to}}
        </div>
    </div>
</template>

<!-- Country Ranking Header-->
<template name="country_cols">
    <tr>
        <th>Ranking</th>
        <th>Country</th>
        <th>Number of people</th>
        <th>% of total</th>
        <th>Domains</th>
        <th>i50</th>
        <th>H-index</th>
    </tr>
</template>

<!-- Country in Ranked List -->
<template name="ranked_country">
    <tr class = "{{continentName}}">
        <td>{{rank}}</td>
        <td>{{countryName}}</td>
        <td>{{count}}</td>
        <td>{{! percent }}</td>
        <td>{{numdomains}}</td>
        <td>{{i50}}</td>
        <td>{{Hindex}}</td>
    </tr>
</template>

<!--Person header template -->
<template name="ppl_cols">
    <tr>
        <th>Ranking</th>
        <th>Name</th>
        <th>Country</th>
        <th>Birth Year</th>
        <th>Gender</th>
        <th>Occupation</th>
        <th>L</th>
    </tr>
</template>

<!-- Person in Ranked List -->
<template name="ranked_ppl">
    <tr class = "{{domain}}">
        <td>{{rank}}</td>
        <td>{{name}}</td>
        <td>{{countryName}}</td>
        <td>{{birthyear}}</td>
        <td>{{gender}}</td>
        <td>{{occupation}}</td>
        <td>{{numlangs}}</td>
    </tr>
</template>


<template name="ranking_table">
    {{#constant}}
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="ranking">
        <thead>
        {{ render_cols }}
        </thead>
        <tbody>
        {{ render_table }}
        </tbody>
        <tfoot>
        {{ render_cols }}
        </tfoot>
    </table>
    {{/constant}}
</template>

<template name="ranked_people_list">
    {{#each people_full_ranking}}
    {{> ranked_ppl person_lookup}}
    {{/each}}
</template>

<template name="ranked_countries">
    <tr class="Asia">
        <td>1</td>
        <td>Bangladesh</td>
        <td>7</td>
        <td>0.08</td>
        <td>4</td>
        <td>1</td>
        <td>14</td>
    </tr>

    <tr class="Asia">
        <td>2</td>
        <td>Belgium</td>
        <td>65</td>
        <td>0.78</td>
        <td>24</td>
        <td>17</td>
        <td>37</td>
    </tr>

    <tr class="Asia">
        <td>3</td>
        <td>Burkina Faso</td>
        <td>1</td>
        <td>0.01</td>
        <td>1</td>
        <td>0</td>
        <td>10</td>
    </tr>

    <tr class="Asia">
        <td>4</td>
        <td>Bulgaria</td>
        <td>14</td>
        <td>0.17</td>
        <td>9</td>
        <td>1</td>
        <td>21</td>
    </tr>

    <tr class="Asia">
        <td>5</td>
        <td>Bosnia and Herzegovina</td>
        <td>22</td>
        <td>0.26</td>
        <td>7</td>
        <td>4</td>
        <td>24</td>
    </tr>

    <tr class="Asia">
        <td>6</td>
        <td>Barbados</td>
        <td>1</td>
        <td>0.01</td>
        <td>1</td>
        <td>1</td>
        <td>7</td>
    </tr>

    <tr class="Asia">
        <td>7</td>
        <td>Bermuda</td>
        <td>1</td>
        <td>0.01</td>
        <td>1</td>
        <td>0</td>
        <td>6</td>
    </tr>

    <tr class="Asia">
        <td>8</td>
        <td>Brunei</td>
        <td>1</td>
        <td>0.01</td>
        <td>1</td>
        <td>0</td>
        <td>3</td>
    </tr>

    <tr class="Asia">
        <td>9</td>
        <td>Bolivia</td>
        <td>3</td>
        <td>0.04</td>
        <td>2</td>
        <td>1</td>
        <td>12</td>
    </tr>

    <tr class="Asia">
        <td>10</td>
        <td>Bahrain</td>
        <td>1</td>
        <td>0.01</td>
        <td>1</td>
        <td>0</td>
        <td>6</td>
    </tr>
</template>