<template name="ranking">
    <div class="page-top">
        <div class="primary-text">
            Rankings
        </div>
    </div>

    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    <div class="viz-selector">
                        <div class="section-header">
                            Ranked Entities
                        </div>
                        {{> ranking_accordion}}
                    </div>
                </div>
                <!-- Visualization and Ranked List Container -->
                <div class="page-middle span8">
                    {{#if dataReady}}
                        {{> ranking_table}}
                    {{else}}
                        {{> spinner}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Accordion Selector -->
<template name="ranking_accordion">
    <div class="accordion">
        <h3 class="app" id ="country_ranking">COUNTRIES</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_from}}
            {{> select_to}}
        </div>
        <h3 class="app" id="people_ranking">PEOPLE</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_country}}
            {{> select_from}}
            {{> select_to}}
        </div>
        <h3 class="app" id="domains_ranking">DOMAINS</h3>
        <div>
            {{> date_range}}
            {{> select_domain}}
            {{> select_country}}
            {{> select_from}}
            {{> select_to}}
        </div>
    </div>
</template>

<!-- Country Ranking Header-->
<template name="country_cols">
    <tr>
        <th>Ranking</th>
        <th>Country</th>
        <th>Number of people</th>
        <th>% Women</th>
        <th>Diversity</th>
        <th>i50</th>
        <th>H-index</th>
    </tr>
</template>

<!-- Country in Ranked List -->
<template name="ranked_country">
    <tr class = "{{continentName}}">
        <td>{{rank}}</td>
        <td>{{countryName}}</td>
        <td>{{numppl}}</td>
        <td>{{percentwomen}}</td>
        <td>{{diversity}}</td>
        <td>{{i50}}</td>
        <td>{{Hindex}}</td>
    </tr>
</template>

<!--Person header template -->
<template name="ppl_cols">
    <tr>
        <th>Ranking</th>
        <th>Name</th>
        <th>Country</th>
        <th>Birth Year</th>
        <th>Gender</th>
        <th>Occupation</th>
        <th>L</th>
    </tr>
</template>

<!-- Person in Ranked List -->
<template name="ranked_ppl">
    <tr class = "{{domain}}">
        <td>{{rank}}</td>
        <td>{{name}}</td>
        <td>{{countryName}}</td>
        <td>{{birthyear}}</td>
        <td>{{gender}}</td>
        <td>{{occupation}}</td>
        <td>{{numlangs}}</td>
    </tr>
</template>

<!--Domain header template -->
<template name="dom_cols">
    <tr>
        <th>Ranking</th>
        <th>Occupation</th>
        <th>Industry</th>
        <th>Domain</th>
        <th>Total Exporters</th>
        <th>% Women</th>
        <th>Total People</th>
    </tr>
</template>

<!-- Domain in Ranked List -->
<template name="ranked_domain">
    <tr class = "{{domain}}">
        <td>{{rank}}</td>
        <td>{{occupation}}</td>
        <td>{{industry}}</td>
        <td>{{domain}}</td>
        <td>{{ubiquity}}</td>
        <td>{{percentwomen}}</td>
        <td>{{numppl}}</td>
    </tr>
</template>


<template name="ranking_table">
    {{#constant}}
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="ranking">
        <thead>
        {{ render_cols }}
        </thead>
        <tbody>
        {{ render_table }}
        </tbody>
        <tfoot>
        {{ render_cols }}
        </tfoot>
    </table>
    {{/constant}}
</template>

<template name="ranked_people_list">
    {{#each people_full_ranking}}
    {{> ranked_ppl}}
    {{/each}}
</template>

<template name="ranked_countries_list">
    {{#each countries_full_ranking}}
    {{> ranked_country}}
    {{/each}}
</template>

<template name="ranked_domains_list">
    {{#each domains_full_ranking}}
    {{> ranked_domain}}
    {{/each}}
</template>
