<!-- Country in Ranked List -->
<template name="ranked_country">
    <tr class = "{{continentName}}">
        <td>{{rank}}</td>
        <td>{{countryName}}</td>
        <td>{{count}}</td>
        <td>{{numdomains}}</td>
        <td>{{i50}}</td>
        <td>{{Hindex}}</td>
    </tr>
</template>

<!-- Country in Ranked List -->
<template name="ranked_people">
    <tr class = "{{domain}}">
        <td>{{rank}}</td>
        <td>{{name}}</td>
        <td>{{numlangs}}</td>
        <td>{{numdomains}}</td>
        <td>{{i50}}</td>
        <td>{{Hindex}}</td>
    </tr>
</template>

<template name="ranking">
	<div class="page-top">            
        {{> question}}
    </div>
    <div class="page-middle">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="ranking">
			<thead>
				<tr>
					<th>Ranking</th>
					<th>Country</th>
					<th>Number of people</th>
					<th>% of total</th>
					<th>Domains</th>
					<th>i50</th> 
					<th>H-index</th> 
				</tr>
			</thead>
			<tbody>

				<tr class="Asia">
					<td>1</td>
					<td>Bangladesh</td>
					<td>7</td>
					<td>0.08</td>
					<td>4</td>
					<td>1</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>2</td>
					<td>Belgium</td>
					<td>65</td>
					<td>0.78</td>
					<td>24</td>
					<td>17</td>
					<td>37</td>
				</tr>

				<tr class="Asia">
					<td>3</td>
					<td>Burkina Faso</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>10</td>
				</tr>

				<tr class="Asia">
					<td>4</td>
					<td>Bulgaria</td>
					<td>14</td>
					<td>0.17</td>
					<td>9</td>
					<td>1</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>5</td>
					<td>Bosnia and Herzegovina</td>
					<td>22</td>
					<td>0.26</td>
					<td>7</td>
					<td>4</td>
					<td>24</td>
				</tr>

				<tr class="Asia">
					<td>6</td>
					<td>Barbados</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>1</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>7</td>
					<td>Bermuda</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>8</td>
					<td>Brunei</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>3</td>
				</tr>

				<tr class="Asia">
					<td>9</td>
					<td>Bolivia</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>10</td>
					<td>Bahrain</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>11</td>
					<td>Burundi</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>12</td>
					<td>Benin</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>0</td>
					<td>10</td>
				</tr>

				<tr class="Asia">
					<td>13</td>
					<td>Jamaica</td>
					<td>9</td>
					<td>0.11</td>
					<td>3</td>
					<td>2</td>
					<td>19</td>
				</tr>

				<tr class="Asia">
					<td>14</td>
					<td>Botswana</td>
					<td>4</td>
					<td>0.05</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>15</td>
					<td>Brazil</td>
					<td>95</td>
					<td>1.14</td>
					<td>18</td>
					<td>16</td>
					<td>38</td>
				</tr>

				<tr class="Asia">
					<td>16</td>
					<td>Jersey</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>17</td>
					<td>Belarus</td>
					<td>13</td>
					<td>0.16</td>
					<td>9</td>
					<td>3</td>
					<td>20</td>
				</tr>

				<tr class="Asia">
					<td>18</td>
					<td>Russia</td>
					<td>264</td>
					<td>3.18</td>
					<td>42</td>
					<td>59</td>
					<td>53</td>
				</tr>

				<tr class="Asia">
					<td>19</td>
					<td>Rwanda</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>20</td>
					<td>Serbia</td>
					<td>37</td>
					<td>0.45</td>
					<td>10</td>
					<td>6</td>
					<td>29</td>
				</tr>

				<tr class="Asia">
					<td>21</td>
					<td>Timor-Leste</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>22</td>
					<td>Turkmenistan</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>1</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>23</td>
					<td>Tajikistan</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>24</td>
					<td>Romania</td>
					<td>35</td>
					<td>0.42</td>
					<td>18</td>
					<td>6</td>
					<td>28</td>
				</tr>

				<tr class="Asia">
					<td>25</td>
					<td>Guinea-Bissau</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>26</td>
					<td>Guam</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>27</td>
					<td>Guatemala</td>
					<td>4</td>
					<td>0.05</td>
					<td>3</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>28</td>
					<td>Greece</td>
					<td>71</td>
					<td>0.85</td>
					<td>20</td>
					<td>27</td>
					<td>38</td>
				</tr>

				<tr class="Asia">
					<td>29</td>
					<td>Equatorial Guinea</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>30</td>
					<td>Guadeloupe</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>1</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>31</td>
					<td>Japan</td>
					<td>110</td>
					<td>1.32</td>
					<td>27</td>
					<td>22</td>
					<td>40</td>
				</tr>

				<tr class="Asia">
					<td>32</td>
					<td>Guyana</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>33</td>
					<td>French Guiana</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>34</td>
					<td>Georgia</td>
					<td>14</td>
					<td>0.17</td>
					<td>6</td>
					<td>2</td>
					<td>22</td>
				</tr>

				<tr class="Asia">
					<td>35</td>
					<td>United Kingdom</td>
					<td>963</td>
					<td>11.58</td>
					<td>60</td>
					<td>199</td>
					<td>67</td>
				</tr>

				<tr class="Asia">
					<td>36</td>
					<td>Gabon</td>
					<td>3</td>
					<td>0.04</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>37</td>
					<td>El Salvador</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>38</td>
					<td>Guinea</td>
					<td>3</td>
					<td>0.04</td>
					<td>1</td>
					<td>0</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>39</td>
					<td>The Gambia</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>40</td>
					<td>Greenland</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>41</td>
					<td>Gibraltar</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>5</td>
				</tr>

				<tr class="Asia">
					<td>42</td>
					<td>Ghana</td>
					<td>16</td>
					<td>0.19</td>
					<td>4</td>
					<td>2</td>
					<td>22</td>
				</tr>

				<tr class="Asia">
					<td>43</td>
					<td>Oman</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>44</td>
					<td>Tunisia</td>
					<td>8</td>
					<td>0.10</td>
					<td>5</td>
					<td>2</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>45</td>
					<td>Jordan</td>
					<td>4</td>
					<td>0.05</td>
					<td>2</td>
					<td>2</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>46</td>
					<td>Croatia</td>
					<td>36</td>
					<td>0.43</td>
					<td>16</td>
					<td>4</td>
					<td>28</td>
				</tr>

				<tr class="Asia">
					<td>47</td>
					<td>Haiti</td>
					<td>6</td>
					<td>0.07</td>
					<td>5</td>
					<td>0</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>48</td>
					<td>Hungary</td>
					<td>58</td>
					<td>0.70</td>
					<td>24</td>
					<td>4</td>
					<td>33</td>
				</tr>

				<tr class="Asia">
					<td>49</td>
					<td>Hong Kong</td>
					<td>5</td>
					<td>0.06</td>
					<td>2</td>
					<td>1</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>50</td>
					<td>Honduras</td>
					<td>4</td>
					<td>0.05</td>
					<td>2</td>
					<td>0</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>51</td>
					<td>Venezuela</td>
					<td>9</td>
					<td>0.11</td>
					<td>6</td>
					<td>2</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>52</td>
					<td>Puerto Rico</td>
					<td>6</td>
					<td>0.07</td>
					<td>5</td>
					<td>1</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>53</td>
					<td>Palestine</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>2</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>54</td>
					<td>Portugal</td>
					<td>53</td>
					<td>0.64</td>
					<td>9</td>
					<td>12</td>
					<td>31</td>
				</tr>

				<tr class="Asia">
					<td>55</td>
					<td>Paraguay</td>
					<td>8</td>
					<td>0.10</td>
					<td>3</td>
					<td>0</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>56</td>
					<td>Panama</td>
					<td>4</td>
					<td>0.05</td>
					<td>1</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>57</td>
					<td>Uruguay</td>
					<td>20</td>
					<td>0.24</td>
					<td>5</td>
					<td>2</td>
					<td>24</td>
				</tr>

				<tr class="Asia">
					<td>58</td>
					<td>Peru</td>
					<td>15</td>
					<td>0.18</td>
					<td>6</td>
					<td>5</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>59</td>
					<td>Pakistan</td>
					<td>18</td>
					<td>0.22</td>
					<td>7</td>
					<td>6</td>
					<td>23</td>
				</tr>

				<tr class="Asia">
					<td>60</td>
					<td>Philippines</td>
					<td>18</td>
					<td>0.22</td>
					<td>4</td>
					<td>4</td>
					<td>22</td>
				</tr>

				<tr class="Asia">
					<td>61</td>
					<td>Poland</td>
					<td>117</td>
					<td>1.41</td>
					<td>30</td>
					<td>36</td>
					<td>44</td>
				</tr>

				<tr class="Asia">
					<td>62</td>
					<td>Zambia</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>63</td>
					<td>Estonia</td>
					<td>13</td>
					<td>0.16</td>
					<td>8</td>
					<td>0</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>64</td>
					<td>Egypt</td>
					<td>28</td>
					<td>0.34</td>
					<td>15</td>
					<td>9</td>
					<td>26</td>
				</tr>

				<tr class="Asia">
					<td>65</td>
					<td>South Africa</td>
					<td>39</td>
					<td>0.47</td>
					<td>17</td>
					<td>9</td>
					<td>28</td>
				</tr>

				<tr class="Asia">
					<td>66</td>
					<td>Ecuador</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>1</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>67</td>
					<td>Italy</td>
					<td>437</td>
					<td>5.26</td>
					<td>46</td>
					<td>116</td>
					<td>63</td>
				</tr>

				<tr class="Asia">
					<td>68</td>
					<td>Vietnam</td>
					<td>7</td>
					<td>0.08</td>
					<td>4</td>
					<td>0</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>69</td>
					<td>Solomon Islands</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>3</td>
				</tr>

				<tr class="Asia">
					<td>70</td>
					<td>Ethiopia</td>
					<td>6</td>
					<td>0.07</td>
					<td>2</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>71</td>
					<td>Zimbabwe</td>
					<td>6</td>
					<td>0.07</td>
					<td>3</td>
					<td>0</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>72</td>
					<td>Spain</td>
					<td>219</td>
					<td>2.63</td>
					<td>29</td>
					<td>50</td>
					<td>50</td>
				</tr>

				<tr class="Asia">
					<td>73</td>
					<td>Eritrea</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>74</td>
					<td>Montenegro</td>
					<td>5</td>
					<td>0.06</td>
					<td>2</td>
					<td>1</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>75</td>
					<td>Moldova</td>
					<td>3</td>
					<td>0.04</td>
					<td>1</td>
					<td>0</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>76</td>
					<td>Madagascar</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>77</td>
					<td>Morocco</td>
					<td>9</td>
					<td>0.11</td>
					<td>6</td>
					<td>4</td>
					<td>20</td>
				</tr>

				<tr class="Asia">
					<td>78</td>
					<td>Monaco</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>79</td>
					<td>Uzbekistan</td>
					<td>5</td>
					<td>0.06</td>
					<td>4</td>
					<td>2</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>80</td>
					<td>Myanmar [Burma]</td>
					<td>7</td>
					<td>0.08</td>
					<td>3</td>
					<td>2</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>81</td>
					<td>Mali</td>
					<td>7</td>
					<td>0.08</td>
					<td>4</td>
					<td>0</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>82</td>
					<td>Mongolia</td>
					<td>4</td>
					<td>0.05</td>
					<td>2</td>
					<td>1</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>83</td>
					<td>Macedonia</td>
					<td>11</td>
					<td>0.13</td>
					<td>5</td>
					<td>3</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>84</td>
					<td>Mauritius</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>5</td>
				</tr>

				<tr class="Asia">
					<td>85</td>
					<td>Malta</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>0</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>86</td>
					<td>Malawi</td>
					<td>4</td>
					<td>0.05</td>
					<td>3</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>87</td>
					<td>Maldives</td>
					<td>3</td>
					<td>0.04</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>88</td>
					<td>Martinique</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>89</td>
					<td>Isle of Man</td>
					<td>4</td>
					<td>0.05</td>
					<td>3</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>90</td>
					<td>Uganda</td>
					<td>3</td>
					<td>0.04</td>
					<td>1</td>
					<td>0</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>91</td>
					<td>Malaysia</td>
					<td>6</td>
					<td>0.07</td>
					<td>2</td>
					<td>0</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>92</td>
					<td>Mexico</td>
					<td>47</td>
					<td>0.57</td>
					<td>17</td>
					<td>9</td>
					<td>30</td>
				</tr>

				<tr class="Asia">
					<td>93</td>
					<td>Israel</td>
					<td>39</td>
					<td>0.47</td>
					<td>19</td>
					<td>8</td>
					<td>30</td>
				</tr>

				<tr class="Asia">
					<td>94</td>
					<td>France</td>
					<td>617</td>
					<td>7.42</td>
					<td>54</td>
					<td>149</td>
					<td>67</td>
				</tr>

				<tr class="Asia">
					<td>95</td>
					<td>Finland</td>
					<td>56</td>
					<td>0.67</td>
					<td>18</td>
					<td>6</td>
					<td>32</td>
				</tr>

				<tr class="Asia">
					<td>96</td>
					<td>Faroe Islands</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>10</td>
				</tr>

				<tr class="Asia">
					<td>97</td>
					<td>Nicaragua</td>
					<td>4</td>
					<td>0.05</td>
					<td>2</td>
					<td>1</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>98</td>
					<td>Netherlands</td>
					<td>136</td>
					<td>1.64</td>
					<td>30</td>
					<td>32</td>
					<td>44</td>
				</tr>

				<tr class="Asia">
					<td>99</td>
					<td>Norway</td>
					<td>41</td>
					<td>0.49</td>
					<td>18</td>
					<td>11</td>
					<td>31</td>
				</tr>

				<tr class="Asia">
					<td>100</td>
					<td>Namibia</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>101</td>
					<td>New Caledonia</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>5</td>
				</tr>

				<tr class="Asia">
					<td>102</td>
					<td>Niger</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>103</td>
					<td>Nigeria</td>
					<td>22</td>
					<td>0.26</td>
					<td>8</td>
					<td>1</td>
					<td>24</td>
				</tr>

				<tr class="Asia">
					<td>104</td>
					<td>New Zealand</td>
					<td>16</td>
					<td>0.19</td>
					<td>10</td>
					<td>6</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>105</td>
					<td>Nepal</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>106</td>
					<td>Nauru</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>107</td>
					<td>Kosovo</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>0</td>
					<td>11</td>
				</tr>

				<tr class="Asia">
					<td>108</td>
					<td>Ivory Coast</td>
					<td>15</td>
					<td>0.18</td>
					<td>2</td>
					<td>1</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>109</td>
					<td>Switzerland</td>
					<td>75</td>
					<td>0.90</td>
					<td>26</td>
					<td>15</td>
					<td>35</td>
				</tr>

				<tr class="Asia">
					<td>110</td>
					<td>Colombia</td>
					<td>14</td>
					<td>0.17</td>
					<td>9</td>
					<td>3</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>111</td>
					<td>China</td>
					<td>67</td>
					<td>0.81</td>
					<td>28</td>
					<td>22</td>
					<td>37</td>
				</tr>

				<tr class="Asia">
					<td>112</td>
					<td>Cameroon</td>
					<td>9</td>
					<td>0.11</td>
					<td>2</td>
					<td>1</td>
					<td>18</td>
				</tr>

				<tr class="Asia">
					<td>113</td>
					<td>Chile</td>
					<td>25</td>
					<td>0.30</td>
					<td>7</td>
					<td>7</td>
					<td>25</td>
				</tr>

				<tr class="Asia">
					<td>114</td>
					<td>Canada</td>
					<td>108</td>
					<td>1.30</td>
					<td>27</td>
					<td>14</td>
					<td>39</td>
				</tr>

				<tr class="Asia">
					<td>115</td>
					<td>Congo</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>116</td>
					<td>Central African Republic</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>1</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>117</td>
					<td>Congo</td>
					<td>7</td>
					<td>0.08</td>
					<td>2</td>
					<td>2</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>118</td>
					<td>Czech Republic</td>
					<td>81</td>
					<td>0.97</td>
					<td>25</td>
					<td>18</td>
					<td>38</td>
				</tr>

				<tr class="Asia">
					<td>119</td>
					<td>Cyprus</td>
					<td>8</td>
					<td>0.10</td>
					<td>6</td>
					<td>0</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>120</td>
					<td>Costa Rica</td>
					<td>3</td>
					<td>0.04</td>
					<td>3</td>
					<td>0</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>121</td>
					<td>Cape Verde</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>2</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>122</td>
					<td>Cuba</td>
					<td>9</td>
					<td>0.11</td>
					<td>6</td>
					<td>4</td>
					<td>19</td>
				</tr>

				<tr class="Asia">
					<td>123</td>
					<td>Syria</td>
					<td>8</td>
					<td>0.10</td>
					<td>4</td>
					<td>3</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>124</td>
					<td>Kyrgyzstan</td>
					<td>4</td>
					<td>0.05</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>125</td>
					<td>Kenya</td>
					<td>8</td>
					<td>0.10</td>
					<td>4</td>
					<td>2</td>
					<td>19</td>
				</tr>

				<tr class="Asia">
					<td>126</td>
					<td>The Republic of South Sudan</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>3</td>
				</tr>

				<tr class="Asia">
					<td>127</td>
					<td>Suriname</td>
					<td>5</td>
					<td>0.06</td>
					<td>2</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>128</td>
					<td>Cambodia</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>2</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>129</td>
					<td>Saint Kitts and Nevis</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>130</td>
					<td>Slovakia</td>
					<td>17</td>
					<td>0.20</td>
					<td>7</td>
					<td>4</td>
					<td>23</td>
				</tr>

				<tr class="Asia">
					<td>131</td>
					<td>South Korea</td>
					<td>24</td>
					<td>0.29</td>
					<td>10</td>
					<td>8</td>
					<td>25</td>
				</tr>

				<tr class="Asia">
					<td>132</td>
					<td>Slovenia</td>
					<td>13</td>
					<td>0.16</td>
					<td>7</td>
					<td>0</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>133</td>
					<td>North Korea</td>
					<td>4</td>
					<td>0.05</td>
					<td>1</td>
					<td>3</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>134</td>
					<td>Somalia</td>
					<td>8</td>
					<td>0.10</td>
					<td>5</td>
					<td>0</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>135</td>
					<td>Senegal</td>
					<td>9</td>
					<td>0.11</td>
					<td>4</td>
					<td>2</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>136</td>
					<td>Sierra Leone</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>137</td>
					<td>Seychelles</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>3</td>
				</tr>

				<tr class="Asia">
					<td>138</td>
					<td>Kazakhstan</td>
					<td>9</td>
					<td>0.11</td>
					<td>4</td>
					<td>6</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>139</td>
					<td>Saudi Arabia</td>
					<td>9</td>
					<td>0.11</td>
					<td>4</td>
					<td>3</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>140</td>
					<td>Singapore</td>
					<td>7</td>
					<td>0.08</td>
					<td>3</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>141</td>
					<td>Sweden</td>
					<td>99</td>
					<td>1.19</td>
					<td>28</td>
					<td>21</td>
					<td>39</td>
				</tr>

				<tr class="Asia">
					<td>142</td>
					<td>Sudan</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>1</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>143</td>
					<td>Dominican Republic</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>144</td>
					<td>Djibouti</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>145</td>
					<td>Denmark</td>
					<td>65</td>
					<td>0.78</td>
					<td>25</td>
					<td>14</td>
					<td>34</td>
				</tr>

				<tr class="Asia">
					<td>146</td>
					<td>Germany</td>
					<td>549</td>
					<td>6.60</td>
					<td>56</td>
					<td>121</td>
					<td>62</td>
				</tr>

				<tr class="Asia">
					<td>147</td>
					<td>Yemen</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>1</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>148</td>
					<td>Algeria</td>
					<td>12</td>
					<td>0.14</td>
					<td>6</td>
					<td>4</td>
					<td>20</td>
				</tr>

				<tr class="Asia">
					<td>149</td>
					<td>United States</td>
					<td>2221</td>
					<td>26.71</td>
					<td>77</td>
					<td>413</td>
					<td>86</td>
				</tr>

				<tr class="Asia">
					<td>150</td>
					<td>Lebanon</td>
					<td>12</td>
					<td>0.14</td>
					<td>6</td>
					<td>2</td>
					<td>21</td>
				</tr>

				<tr class="Asia">
					<td>151</td>
					<td>Saint Lucia</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>1</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>152</td>
					<td>Taiwan</td>
					<td>10</td>
					<td>0.12</td>
					<td>7</td>
					<td>2</td>
					<td>18</td>
				</tr>

				<tr class="Asia">
					<td>153</td>
					<td>Trinidad and Tobago</td>
					<td>4</td>
					<td>0.05</td>
					<td>3</td>
					<td>1</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>154</td>
					<td>Turkey</td>
					<td>70</td>
					<td>0.84</td>
					<td>23</td>
					<td>14</td>
					<td>36</td>
				</tr>

				<tr class="Asia">
					<td>155</td>
					<td>Sri Lanka</td>
					<td>6</td>
					<td>0.07</td>
					<td>3</td>
					<td>0</td>
					<td>14</td>
				</tr>

				<tr class="Asia">
					<td>156</td>
					<td>Latvia</td>
					<td>11</td>
					<td>0.13</td>
					<td>9</td>
					<td>3</td>
					<td>18</td>
				</tr>

				<tr class="Asia">
					<td>157</td>
					<td>Tonga</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>

				<tr class="Asia">
					<td>158</td>
					<td>Lithuania</td>
					<td>22</td>
					<td>0.26</td>
					<td>12</td>
					<td>1</td>
					<td>23</td>
				</tr>

				<tr class="Asia">
					<td>159</td>
					<td>Luxembourg</td>
					<td>6</td>
					<td>0.07</td>
					<td>3</td>
					<td>0</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>160</td>
					<td>Liberia</td>
					<td>4</td>
					<td>0.05</td>
					<td>3</td>
					<td>1</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>161</td>
					<td>Thailand</td>
					<td>5</td>
					<td>0.06</td>
					<td>3</td>
					<td>1</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>162</td>
					<td>Togo</td>
					<td>5</td>
					<td>0.06</td>
					<td>2</td>
					<td>0</td>
					<td>10</td>
				</tr>

				<tr class="Asia">
					<td>163</td>
					<td>Chad</td>
					<td>2</td>
					<td>0.02</td>
					<td>1</td>
					<td>0</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>164</td>
					<td>Libya</td>
					<td>5</td>
					<td>0.06</td>
					<td>2</td>
					<td>0</td>
					<td>13</td>
				</tr>

				<tr class="Asia">
					<td>165</td>
					<td>United Arab Emirates</td>
					<td>4</td>
					<td>0.05</td>
					<td>1</td>
					<td>0</td>
					<td>8</td>
				</tr>

				<tr class="Asia">
					<td>166</td>
					<td>Andorra</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>167</td>
					<td>Afghanistan</td>
					<td>10</td>
					<td>0.12</td>
					<td>4</td>
					<td>2</td>
					<td>15</td>
				</tr>

				<tr class="Asia">
					<td>168</td>
					<td>Iraq</td>
					<td>12</td>
					<td>0.14</td>
					<td>6</td>
					<td>2</td>
					<td>19</td>
				</tr>

				<tr class="Asia">
					<td>169</td>
					<td>US Virgin Islands</td>
					<td>2</td>
					<td>0.02</td>
					<td>2</td>
					<td>1</td>
					<td>7</td>
				</tr>

				<tr class="Asia">
					<td>170</td>
					<td>Iceland</td>
					<td>10</td>
					<td>0.12</td>
					<td>4</td>
					<td>5</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>171</td>
					<td>Iran</td>
					<td>36</td>
					<td>0.43</td>
					<td>15</td>
					<td>16</td>
					<td>28</td>
				</tr>

				<tr class="Asia">
					<td>172</td>
					<td>Armenia</td>
					<td>9</td>
					<td>0.11</td>
					<td>6</td>
					<td>0</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>173</td>
					<td>Albania</td>
					<td>12</td>
					<td>0.14</td>
					<td>5</td>
					<td>2</td>
					<td>20</td>
				</tr>

				<tr class="Asia">
					<td>174</td>
					<td>Angola</td>
					<td>5</td>
					<td>0.06</td>
					<td>3</td>
					<td>1</td>
					<td>12</td>
				</tr>

				<tr class="Asia">
					<td>175</td>
					<td>Argentina</td>
					<td>71</td>
					<td>0.85</td>
					<td>18</td>
					<td>13</td>
					<td>35</td>
				</tr>

				<tr class="Asia">
					<td>176</td>
					<td>Australia</td>
					<td>89</td>
					<td>1.07</td>
					<td>25</td>
					<td>11</td>
					<td>34</td>
				</tr>

				<tr class="Asia">
					<td>177</td>
					<td>Austria</td>
					<td>102</td>
					<td>1.23</td>
					<td>30</td>
					<td>24</td>
					<td>42</td>
				</tr>

				<tr class="Asia">
					<td>178</td>
					<td>Aruba</td>
					<td>1</td>
					<td>0.01</td>
					<td>1</td>
					<td>0</td>
					<td>6</td>
				</tr>

				<tr class="Asia">
					<td>179</td>
					<td>India</td>
					<td>108</td>
					<td>1.30</td>
					<td>27</td>
					<td>30</td>
					<td>42</td>
				</tr>

				<tr class="Asia">
					<td>180</td>
					<td>Tanzania</td>
					<td>3</td>
					<td>0.04</td>
					<td>2</td>
					<td>1</td>
					<td>9</td>
				</tr>

				<tr class="Asia">
					<td>181</td>
					<td>Azerbaijan</td>
					<td>8</td>
					<td>0.10</td>
					<td>6</td>
					<td>4</td>
					<td>17</td>
				</tr>

				<tr class="Asia">
					<td>182</td>
					<td>Ireland</td>
					<td>62</td>
					<td>0.75</td>
					<td>15</td>
					<td>14</td>
					<td>35</td>
				</tr>

				<tr class="Asia">
					<td>183</td>
					<td>Indonesia</td>
					<td>8</td>
					<td>0.10</td>
					<td>3</td>
					<td>4</td>
					<td>16</td>
				</tr>

				<tr class="Asia">
					<td>184</td>
					<td>Ukraine</td>
					<td>78</td>
					<td>0.94</td>
					<td>22</td>
					<td>15</td>
					<td>35</td>
				</tr>

				<tr class="Asia">
					<td>185</td>
					<td>Mozambique</td>
					<td>5</td>
					<td>0.06</td>
					<td>3</td>
					<td>0</td>
					<td>9</td>
				</tr>

			</tbody>
			<tfoot>
				<tr>
					<th>Ranking</th>
					<th>Country</th>
					<th>Number of people</th>
					<th>% of total</th>
					<th>Domains</th>
					<th>i50</th>
					<th>H-index</th>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
</template>