<template name="select_mode">
    {{ render_template }}
    {{> select_from}}
    {{> select_to}}
    {{> select_l}}
</template>

<template name="country_exporters_mode">
    {{> select_exporter}}
</template>

<template name="country_importers_mode">
    {{> select_importer}}
</template>

<template name="domain_mode">
    {{> select_domain}}
</template>

<template name="bilateral_exporters_mode">
    {{> select_exporter}}
    {{> select_importer}}
</template>

<template name="bilateral_importers_mode">
    {{> select_exporter}}
    {{> select_domain}}
</template>

<template name="heatmap_exports_mode">
    {{> select_country_order }}
    {{> select_domain_order }}
    {{> select_gender }}
</template>

<template name="select_exporter">
    <label id="countries_label">Exporter</label>
    <select id="countries" class="top_nav_control">
        <option value="all" selected="selected">All</option>
        {{#each countries}}
        {{> country_item}}
        {{/each}}
    </select>
</template>

<template name="select_importer">

<label id="languages_label">Importer</label>
<select id="languages" class="top_nav_control">
<option value="all">All</option>
<option value="ab">Abkhazian</option>
<option value="ace">Acehnese</option>
<option value="af">Afrikaans</option>
<option value="ak">Akan</option>
<option value="sq">Albanian</option>
<option value="als">Alemannic</option>
<option value="am">Amharic</option>
<option value="ang">Anglo-Saxon</option>
<option value="ar">Arabic</option>
<option value="an">Aragonese</option>
<option value="arc">Aramaic</option>
<option value="hy">Armenian</option>
<option value="roa-rup">Aromanian</option>
<option value="frp">Arpitan</option>
<option value="as">Assamese</option>
<option value="ast">Asturian</option>
<option value="av">Avar</option>
<option value="ay">Aymara</option>
<option value="az">Azeri</option>
<option value="bm">Bambara</option>
<option value="bjn">Banjar</option>
<option value="map-bms">Banyumasan</option>
<option value="ba">Bashkir</option>
<option value="eu">Basque</option>
<option value="bar">Bavarian</option>
<option value="be">Belarusian</option>
<option value="be-x-old">Belarusian (TaraÂškievica)</option>
<option value="bn">Bengali</option>
<option value="bh">Bihari</option>
<option value="bpy">Bishnupriya Manipuri</option>
<option value="bi">Bislama</option>
<option value="bs">Bosnian</option>
<option value="br">Breton</option>
<option value="bug">Buginese</option>
<option value="bg">Bulgarian</option>
<option value="my">Burmese</option>
<option value="bxr">Buryat</option>
<option value="zh-yue">Cantonese</option>
<option value="csb">Cassubian</option>
<option value="ca">Catalan</option>
<option value="ceb">Cebuano</option>
<option value="bcl">Central Bicolano</option>
<option value="ch">Chamorro</option>
<option value="cbk-zam">Chavacano</option>
<option value="ce">Chechen</option>
<option value="chr">Cherokee</option>
<option value="chy">Cheyenne</option>
<option value="ny">Chichewa</option>
<option value="zh">Chinese</option>
<option value="cv">Chuvash</option>
<option value="zh-classical">Classical Chinese</option>
<option value="kw">Cornish</option>
<option value="co">Corsican</option>
<option value="cr">Cree</option>
<option value="crh">Crimean Tatar</option>
<option value="hr">Croatian</option>
<option value="cs">Czech</option>
<option value="da">Danish</option>
<option value="dv">Divehi</option>
<option value="nl">Dutch</option>
<option value="nds-nl">Dutch Low Saxon</option>
<option value="dz">Dzongkha</option>
<option value="mhr">Eastern Mari</option>
<option value="arz">Egyptian Arabic</option>
<option value="eml">Emilian-Romagnol</option>
<option value="en">English</option>
<option value="myv">Erzya</option>
<option value="eo">Esperanto</option>
<option value="et">Estonian</option>
<option value="ee">Ewe</option>
<option value="ext">Extremaduran</option>
<option value="fo">Faroese</option>
<option value="hif">Fiji Hindi</option>
<option value="fj">Fijian</option>
<option value="fi">Finnish</option>
<option value="fr">French</option>
<option value="fy">Frisian</option>
<option value="fur">Friulian</option>
<option value="ff">Fulfulde</option>
<option value="gl">Galician</option>
<option value="gan">Gan</option>
<option value="lg">Ganda</option>
<option value="ka">Georgian</option>
<option value="de">German</option>
<option value="glk">Gilaki</option>
<option value="got">Gothic</option>
<option value="el">Greek</option>
<option value="kl">Greenlandic</option>
<option value="gn">Guarani</option>
<option value="gu">Gujarati</option>
<option value="ht">Haitian</option>
<option value="hak">Hakka</option>
<option value="ha">Hausa</option>
<option value="haw">Hawai'ian</option>
<option value="he">Hebrew</option>
<option value="hi">Hindi</option>
<option value="hu">Hungarian</option>
<option value="is">Icelandic</option>
<option value="io">Ido</option>
<option value="ig">Igbo</option>
<option value="ilo">Ilokano</option>
<option value="id">Indonesian</option>
<option value="ia">Interlingua</option>
<option value="ie">Interlingue</option>
<option value="iu">Inuktitut</option>
<option value="ik">Inupiak</option>
<option value="ga">Irish</option>
<option value="it">Italian</option>
<option value="ja">Japanese</option>
<option value="jv">Javanese</option>
<option value="kab">Kabyle</option>
<option value="xal">Kalmyk</option>
<option value="kn">Kannada</option>
<option value="pam">Kapampangan</option>
<option value="krc">Karachay-Balkar</option>
<option value="kaa">Karakalpak</option>
<option value="kbd">Karbadian</option>
<option value="ks">Kashmiri</option>
<option value="kk">Kazakh</option>
<option value="km">Khmer</option>
<option value="ki">Kikuyu</option>
<option value="rw">Kinyarwanda</option>
<option value="ky">Kirghiz</option>
<option value="rn">Kirundi</option>
<option value="kv">Komi</option>
<option value="koi">Komi-Permyak</option>
<option value="kg">Kongo</option>
<option value="ko">Korean</option>
<option value="ku">Kurdish</option>
<option value="lad">Ladino</option>
<option value="lbe">Lak</option>
<option value="lo">Laotian</option>
<option value="ltg">Latgalian</option>
<option value="la">Latin</option>
<option value="lv">Latvian</option>
<option value="lez">Lezgian</option>
<option value="lij">Ligurian</option>
<option value="li">Limburgish</option>
<option value="ln">Lingala</option>
<option value="lt">Lithuanian</option>
<option value="jbo">Lojban</option>
<option value="lmo">Lombard</option>
<option value="nds">Low Saxon</option>
<option value="dsb">Lower Sorbian</option>
<option value="lb">Luxembourgish</option>
<option value="mk">Macedonian</option>
<option value="mg">Malagasy</option>
<option value="ms">Malay</option>
<option value="ml">Malayalam</option>
<option value="mt">Maltese</option>
<option value="gv">Manx</option>
<option value="mi">Maori</option>
<option value="mr">Marathi</option>
<option value="mzn">Mazandarani</option>
<option value="cdo">Min Dong</option>
<option value="zh-min-nan">Min Nan</option>
<option value="mwl">Mirandese</option>
<option value="mdf">Moksha</option>
<option value="mn">Mongolian</option>
<option value="nah">Nahuatl</option>
<option value="na">Nauruan</option>
<option value="nv">Navajo</option>
<option value="nap">Neapolitan</option>
<option value="new">Nepal Bhasa</option>
<option value="ne">Nepali</option>
<option value="pih">Norfolk</option>
<option value="nrm">Norman</option>
<option value="frr">North Frisian</option>
<option value="se">Northern Sami</option>
<option value="nso">Northern Sotho</option>
<option value="no">Norwegian</option>
<option value="nov">Novial</option>
<option value="nn">Nynorsk</option>
<option value="oc">Occitan</option>
<option value="cu">Old Church Slavonic</option>
<option value="or">Oriya</option>
<option value="om">Oromo</option>
<option value="os">Ossetic</option>
<option value="pi">Pali</option>
<option value="pag">Pangasinan</option>
<option value="pap">Papiamentu</option>
<option value="ps">Pashto</option>
<option value="pdc">Pennsylvania German</option>
<option value="fa">Persian</option>
<option value="pcd">Picard</option>
<option value="pms">Piedmontese</option>
<option value="pl">Polish</option>
<option value="pnt">Pontic</option>
<option value="pt">Portuguese</option>
<option value="pa">Punjabi</option>
<option value="qu">Quechua</option>
<option value="ksh">Ripuarian</option>
<option value="rmy">Romani</option>
<option value="ro">Romanian</option>
<option value="rm">Romansh</option>
<option value="ru">Russian</option>
<option value="rue">Rusyn</option>
<option value="sah">Sakha</option>
<option value="sm">Samoan</option>
<option value="bat-smg">Samogitian</option>
<option value="sg">Sangro</option>
<option value="sa">Sanskrit</option>
<option value="sc">Sardinian</option>
<option value="stq">Saterland Frisian</option>
<option value="sco">Scots</option>
<option value="gd">Scots Gaelic</option>
<option value="sr">Serbian</option>
<option value="sh">Serbo-Croatian</option>
<option value="st">Sesotho</option>
<option value="tn">Setswana</option>
<option value="sn">Shona</option>
<option value="scn">Sicilian</option>
<option value="szl">Silesian</option>
<option value="simple">Simple English</option>
<option value="sd">Sindhi</option>
<option value="si">Sinhala</option>
<option value="ss">Siswati</option>
<option value="sk">Slovak</option>
<option value="sl">Slovene</option>
<option value="so">Somali</option>
<option value="ckb">Sorani</option>
<option value="es">Spanish</option>
<option value="srn">Sranan</option>
<option value="su">Sundanese</option>
<option value="sw">Swahili</option>
<option value="sv">Swedish</option>
<option value="tl">Tagalog</option>
<option value="ty">Tahitian</option>
<option value="tg">Tajik</option>
<option value="ta">Tamil</option>
<option value="roa-tara">Tarantino</option>
<option value="tt">Tatar</option>
<option value="te">Telugu</option>
<option value="tet">Tetum</option>
<option value="th">Thai</option>
<option value="bo">Tibetan</option>
<option value="ti">Tigrinya</option>
<option value="tpi">Tok Pisin</option>
<option value="to">Tongan</option>
<option value="ts">Tsonga</option>
<option value="tum">Tumbuka</option>
<option value="tr">Turkish</option>
<option value="tk">Turkmen</option>
<option value="tw">Twi</option>
<option value="udm">Udmurt</option>
<option value="uk">Ukrainian</option>
<option value="hsb">Upper Sorbian</option>
<option value="ur">Urdu</option>
<option value="ug">Uyghur</option>
<option value="uz">Uzbek</option>
<option value="ve">Venda</option>
<option value="vec">Venetian</option>
<option value="vep">Vepsian</option>
<option value="vi">Vietnamese</option>
<option value="vo">Volapük</option>
<option value="fiu-vro">Voro</option>
<option value="wa">Walloon</option>
<option value="war">Waray-Waray</option>
<option value="cy">Welsh</option>
<option value="vls">West Flemish</option>
<option value="mrj">Western Mari</option>
<option value="pnb">Western Panjabi</option>
<option value="wo">Wolof</option>
<option value="wuu">Wu</option>
<option value="xh">Xhosa</option>
<option value="yi">Yiddish</option>
<option value="yo">Yoruba</option>
<option value="diq">Zazaki</option>
<option value="zea">Zealandic</option>
<option value="za">Zhuang</option>
</select>
</template>

<template name="country_item">
    <option value="{{countryCode}}">{{countryName}}</option>
</template>

<template name="select_domain">
    <label id="domain_label">Domain</label>
    <select id="domain" class="top_nav_control">
        <option value="all">All</option>
        <option value="Arts">Arts</option>
        <option value="Humanities">Humanities</option>
        <option value="Business & Law">Business & Law</option>
        <option value="Exploration">Exploration</option>
        <option value="Institutions">Institutions</option>
        <option value="Public Figure">Public Figure</option>
        <option value="Science & Technology">Science & Technology</option>
        <option value="Sports">Sports</option>
    </select>
</template>

<template name="select_from">

    <label>From</label>
    <select class="time_period top_nav_control" id="from">
        <option value="-1000" selected="selected">1000 B.C.</option>
        <option value="-900">900 B.C.</option>
        <option value="-800">800 B.C.</option>
        <option value="-700">700 B.C.</option>
        <option value="-600">600 B.C.</option>
        <option value="-500">500 B.C.</option>
        <option value="-400">400 B.C.</option>
        <option value="-300">300 B.C.</option>
        <option value="-200">200 B.C.</option>
        <option value="-100">100 B.C.</option>
        <option value="1">1 A.D.</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1100">1100</option>
        <option value="1200">1200</option>
        <option value="1300">1300</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1700">1700</option>
        <option value="1800">1800</option>
        <option value="1850">1850</option>
        <option value="1900">1900</option>
        <option value="1910">1910</option>
        <option value="1920">1920</option>
        <option value="1930">1930</option>
        <option value="1940">1940</option>
        <option value="1950">1950</option>
        <option value="1960">1960</option>
        <option value="1970">1970</option>
        <option value="1980">1980</option>
        <option value="1990">1990</option>
        <option value="2000">2000</option>
    </select>
</template>

<template name="select_to">
    <label>To</label>
    <select class="time_period top_nav_control" id="to">
        <option value="-1000">1000 B.C.</option>
        <option value="-900">900 B.C.</option>
        <option value="-800">800 B.C.</option>
        <option value="-700">700 B.C.</option>
        <option value="-600">600 B.C.</option>
        <option value="-500">500 B.C.</option>
        <option value="-400">400 B.C.</option>
        <option value="-300">300 B.C.</option>
        <option value="-200">200 B.C.</option>
        <option value="-100">100 B.C.</option>
        <option value="1">1 A.D.</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
        <option value="1100">1100</option>
        <option value="1200">1200</option>
        <option value="1300">1300</option>
        <option value="1400">1400</option>
        <option value="1500">1500</option>
        <option value="1600">1600</option>
        <option value="1700">1700</option>
        <option value="1800">1800</option>
        <option value="1850">1850</option>
        <option value="1900">1900</option>
        <option value="1910">1910</option>
        <option value="1920">1920</option>
        <option value="1930">1930</option>
        <option value="1940">1940</option>
        <option value="1950">1950</option>
        <option value="1960" selected="selected">1960</option>
        <option value="1970">1970</option>
        <option value="1980">1980</option>
        <option value="1990">1990</option>
        <option value="2000">2000</option>
    </select>
</template>

<template name="select_l">
    <label>L</label>
    <select class="top_nav_control" id="l">
        <option value="25" selected="selected">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="150">150</option>
        <option value="200">200</option>
        <option value="214">214</option>
    </select>
</template>

<template name="select_country_order">
    <label class="heatmap" id="row_label">Country Order</label>
    <select class="top_nav_control" id="row">
        <option value="name">Name</option>
        <option value="count" selected="selected">Count</option>
    </select>
</template>

<template name="select_industry_order">
    <label class="heatmap" id="column_label">Industry Order</label>
    <select class="top_nav_control" id="column">
        <option value="name">Name</option>
        <option value="count" selected="selected">Count</option>
    </select>
</template>

<template name="select_gender">
    <label class="heatmap" id="gender_label">Gender</label>
    <select class="top_nav_control" id="gender">
        <option value="both" selected="selected">Both</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="ratio">Ratio</option>
    </select>
</template>
