<!-- Dropdown Menu Container-->
<template name="select_mode">
    {{!> date_range}}
    {{ render_template }}
    {{> select_from}}
    {{> select_to}}
    {{> select_l}}
</template>

<template name="date_range">
    <div class="parameter-selection"><label>Date Range</label><div class="range"><span class="from"></span> &#8212; <span class="to"></span></div></div>
</template>

<!-- Dropdown Menus -->
<template name="country_exporters_mode">
    {{> select_country}}
</template>

<template name="country_importers_mode">
    {{> select_language}}
</template>

<template name="domain_mode">
    {{> select_domain}}
</template>

<template name="bilateral_exporters_mode">
    {{> select_country}}
    {{> select_language}}
</template>

<template name="bilateral_importers_mode">
    {{> select_country}}
    {{> select_domain}}
</template>

<template name="matrix_exports_mode">
    {{> select_country_order}}
    {{> select_industry_order}}
    {{> select_gender}}
</template>

<template name="country_vs_country_mode">
    {{> select_countryX}}
    {{> select_countryY}}
</template>

<template name="language_vs_language_mode">
    {{> select_languageX}}
    {{> select_languageY}}
</template>

<template name="domain_vs_domain_mode">
    {{> select_domainX}}
    {{> select_domainY}}
</template>

<template name="map_mode">
    {{> select_domain}}
</template>

<template name="select_country">
    {{> country_dropdown}}
</template>

<template name="select_countryX">
    {{> country_dropdown}}
</template>

<template name="select_countryY">
    {{> country_dropdown}}
</template>

<template name="country_dropdown">
    <div class="parameter-selection">
        <label>Exporter</label>
        <select>
            <option value="all">All</option>
            {{#each countries}}
            {{> country_item}}
            {{/each}}
        </select>
    </div>
</template>

<template name="select_language">
    {{> language_dropdown}}
</template>

<template name="select_languageX">
    {{> language_dropdown}}
</template>

<template name="select_languageY">
    {{> language_dropdown}}
</template>

<template name="language_dropdown">
    <div class="parameter-selection">
        <label>Importer</label>
        <select>
            <option value="all">All</option>
            {{#each languages}}
            {{> language_item}}
            {{/each}}
        </select>
    </div>
</template>

<template name="country_item">
    <option value="{{countryCode}}">{{countryName}}</option>
</template>

<template name="language_item">
    <option value="{{lang}}">{{lang_name}}</option>
</template>

<!-- TODO Pull data out of here and use submenus -->
<template name="select_domain">
    <div class="parameter-selection">
        <label>Domain</label>
        <select id="domain" class="top_nav_control">
            <option value="all">All</option>

            <option value="+arts">Arts</option>
            <option value="+humanities">Humanities</option>
            <option value="+business%20&amp;%20law">Business & Law</option>
            <option value="+exploration">Exploration</option>
            <option value="+institutions">Institutions</option>
            <option value="+public%20figure">Public Figure</option>
            <option value="+science%20&amp;%20technology">Science & Technology</option>
            <option value="+sports">Sports</option>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Industries" label="Industries">
                <option value="+design">Design</option>
                <option value="+film%20and%20theatre">Film and Theatre</option>
                <option value="+fine%20arts">Fine Arts</option>
                <option value="+music">Music</option>
                <option value="+business">Business</option>
                <option value="+law">Law</option>
                <option value="+explorer">Explorer</option>
                <option value="+history">History</option>
                <option value="+language">Language</option>
                <option value="+philosophy">Philosophy</option>
                <option value="+government">Government</option>
                <option value="+media%20personality">Media Personality</option>
                <option value="+outlaws">Outlaws</option>
                <option value="+math">Math</option>
                <option value="+natural%20sciences">Natural Sciences</option>
                <option value="+social%20sciences">Social Sciences</option>
                <option value="+individual%20sports">Individual sports</option>
                <option value="+team%20sports">Team sports</option>
            </optgroup>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Arts" label="Arts">
                <option value="-actor">Actor</option>
                <option value="-architect">Architect</option>
                <option value="-artist">Artist</option>
                <option value="-comedian">Comedian</option>
                <option value="-composer">Composer</option>
                <option value="-comic%20artist">Comic artist</option>
                <option value="-conductor">Conductor</option>
                <option value="-dancer">Dancer</option>
                <option value="-designer">Designer</option>
                <option value="-fashion%20designer">Fashion designer</option>
                <option value="-film%20director">Film director</option>
                <option value="-game%20designer">Game designer</option>
                <option value="-musician">Musician</option>
                <option value="-painter">Painter</option>
                <option value="-photographer">Photographer</option>
                <option value="-sculptor">Sculptor</option>
                <option value="-singer">Singer</option>
            </optgroup>

            <optgroup value="Business & Law" label="Business & Law">
                <option value="-businessperson">Businessperson</option>
                <option value="-lawyer">Lawyer</option>
                <option value="-producer">Producer</option>
            </optgroup>

            <optgroup value="Exploration" label="Exploration">
                <option value="-astronaut">Astronaut</option>
                <option value="-explorer">Explorer</option>
            </optgroup>

            <optgroup value="Arts" label="Humanities">
                <option value="-critic">Critic</option>
                <option value="-historian">Historian</option>
                <option value="-journalist">Journalist</option>
                <option value="-linguist">Linguist</option>
                <option value="-writer">Writer</option>
            </optgroup>

            <optgroup value="Institutions" label="Institutions">
                <option value="-diplomat">Diplomat</option>
                <option value="-judge">Judge</option>
                <option value="-military">Military</option>
                <option value="-nobleman">Nobleman</option>
                <option value="-pilot">Pilot</option>
                <option value="-politician">Politician</option>
                <option value="-public worker">Public worker</option>
                <option value="-religious figure">Religious figure</option>
            </optgroup>

            <optgroup value="Public Figures" label="Public Figures">
                <option value="-celebrity">Celebrity</option>
                <option value="-chef">Chef</option>
                <option value="-extremist">Extremist</option>
                <option value="-mafioso">Mafioso</option>
                <option value="-magician">Magician</option>
                <option value="-model">Model</option>
                <option value="-pilot">Pilot</option>
                <option value="-pirate">Pirate</option>
                <option value="-pornographic%20actor">Pornographic actor</option>
                <option value="-presenter">Presenter</option>
                <option value="-social%20activist">Social activist</option>
            </optgroup>

            <optgroup value="Science & Technology" label="Science & Technology">
                <option value="-anthropologist">Anthropologist</option>
                <option value="-astronomer">Astronomer</option>
                <option value="-archeologist">Archeologist</option>
                <option value="-biologist">Biologist</option>
                <option value="-chemist">Chemist</option>
                <option value="-computer%20scientist">Computer scientist</option>
                <option value="-economist">Economist</option>
                <option value="-engineer">Engineer</option>
                <option value="-geographer">Geographer</option>
                <option value="-beologist">Geologist</option>
                <option value="-inventor">Inventor</option>
                <option value="-mathematician">Mathematician</option>
                <option value="-physician">Physician</option>
                <option value="-physicist">Physicist</option>
                <option value="-political%20scientist">Political scientist</option>
                <option value="-psychologist">Psychologist</option>
                <option value="-sociologist">Sociologist</option>
                <option value="-statistician">Statistician</option>
            </optgroup>

            <optgroup value="Sports" label="Sports">
                <option value="-american%20football%20player">American football player</option>
                <option value="-athlete">Athlete</option>
                <option value="-baseball%20player">Baseball player</option>
                <option value="-basketball%20player">Basketball player</option>
                <option value="-boxer">Boxer</option>
                <option value="-chessmaster">Chess master</option>
                <option value="-cricketer">Cricketer</option>
                <option value="-cyclist">Cyclist</option>
                <option value="-golfer">Golfer</option>
                <option value="-gymnast">Gymnast</option>
                <option value="-hockey%20player">Hockey player</option>
                <option value="-martial%20arts">Martial arts</option>
                <option value="-mountaineer">Mountaineer</option>
                <option value="-racecar%20driver">Racecar driver</option>
                <option value="-referee">Referee</option>
                <option value="-skater">Skater</option>
                <option value="-skier">Skier</option>
                <option value="-soccer%20player">Soccer player</option>
                <option value="-swimmer">Swimmer</option>
                <option value="-tennis%20player">Tennis Player</option>
                <option value="-wrestler">Wrestler</option>
            </optgroup>
        </select>
    </div>
</template>

<template name="select_domainX">
    <div class="parameter-selection">
        <label>Domain</label>
        <select id="domain" class="top_nav_control">
            <option value="all">All</option>

            <option value="+arts">Arts</option>
            <option value="+humanities">Humanities</option>
            <option value="+business%20&amp;%20law">Business & Law</option>
            <option value="+exploration">Exploration</option>
            <option value="+institutions">Institutions</option>
            <option value="+public%20figure">Public Figure</option>
            <option value="+science%20&amp;%20technology">Science & Technology</option>
            <option value="+sports">Sports</option>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Industries" label="Industries">
                <option value="+design">Design</option>
                <option value="+film%20and%20theatre">Film and Theatre</option>
                <option value="+fine%20arts">Fine Arts</option>
                <option value="+music">Music</option>
                <option value="+business">Business</option>
                <option value="+law">Law</option>
                <option value="+explorer">Explorer</option>
                <option value="+history">History</option>
                <option value="+language">Language</option>
                <option value="+philosophy">Philosophy</option>
                <option value="+government">Government</option>
                <option value="+media%20personality">Media Personality</option>
                <option value="+outlaws">Outlaws</option>
                <option value="+math">Math</option>
                <option value="+natural%20sciences">Natural Sciences</option>
                <option value="+social%20sciences">Social Sciences</option>
                <option value="+individual%20sports">Individual sports</option>
                <option value="+team%20sports">Team sports</option>
            </optgroup>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Arts" label="Arts">
                <option value="-actor">Actor</option>
                <option value="-architect">Architect</option>
                <option value="-artist">Artist</option>
                <option value="-comedian">Comedian</option>
                <option value="-composer">Composer</option>
                <option value="-comic%20artist">Comic artist</option>
                <option value="-conductor">Conductor</option>
                <option value="-dancer">Dancer</option>
                <option value="-designer">Designer</option>
                <option value="-fashion%20designer">Fashion designer</option>
                <option value="-film%20director">Film director</option>
                <option value="-game%20designer">Game designer</option>
                <option value="-musician">Musician</option>
                <option value="-painter">Painter</option>
                <option value="-photographer">Photographer</option>
                <option value="-sculptor">Sculptor</option>
                <option value="-singer">Singer</option>
            </optgroup>

            <optgroup value="Business & Law" label="Business & Law">
                <option value="-businessperson">Businessperson</option>
                <option value="-lawyer">Lawyer</option>
                <option value="-producer">Producer</option>
            </optgroup>

            <optgroup value="Exploration" label="Exploration">
                <option value="-astronaut">Astronaut</option>
                <option value="-explorer">Explorer</option>
            </optgroup>

            <optgroup value="Arts" label="Humanities">
                <option value="-critic">Critic</option>
                <option value="-historian">Historian</option>
                <option value="-journalist">Journalist</option>
                <option value="-linguist">Linguist</option>
                <option value="-writer">Writer</option>
            </optgroup>

            <optgroup value="Institutions" label="Institutions">
                <option value="-diplomat">Diplomat</option>
                <option value="-judge">Judge</option>
                <option value="-military">Military</option>
                <option value="-nobleman">Nobleman</option>
                <option value="-pilot">Pilot</option>
                <option value="-politician">Politician</option>
                <option value="-public worker">Public worker</option>
                <option value="-religious figure">Religious figure</option>
            </optgroup>

            <optgroup value="Public Figures" label="Public Figures">
                <option value="-celebrity">Celebrity</option>
                <option value="-chef">Chef</option>
                <option value="-extremist">Extremist</option>
                <option value="-mafioso">Mafioso</option>
                <option value="-magician">Magician</option>
                <option value="-model">Model</option>
                <option value="-pilot">Pilot</option>
                <option value="-pirate">Pirate</option>
                <option value="-pornographic%20actor">Pornographic actor</option>
                <option value="-presenter">Presenter</option>
                <option value="-social%20activist">Social activist</option>
            </optgroup>

            <optgroup value="Science & Technology" label="Science & Technology">
                <option value="-anthropologist">Anthropologist</option>
                <option value="-astronomer">Astronomer</option>
                <option value="-archeologist">Archeologist</option>
                <option value="-biologist">Biologist</option>
                <option value="-chemist">Chemist</option>
                <option value="-computer%20scientist">Computer scientist</option>
                <option value="-economist">Economist</option>
                <option value="-engineer">Engineer</option>
                <option value="-geographer">Geographer</option>
                <option value="-beologist">Geologist</option>
                <option value="-inventor">Inventor</option>
                <option value="-mathematician">Mathematician</option>
                <option value="-physician">Physician</option>
                <option value="-physicist">Physicist</option>
                <option value="-political%20scientist">Political scientist</option>
                <option value="-psychologist">Psychologist</option>
                <option value="-sociologist">Sociologist</option>
                <option value="-statistician">Statistician</option>
            </optgroup>

            <optgroup value="Sports" label="Sports">
                <option value="-american%20football%20player">American football player</option>
                <option value="-athlete">Athlete</option>
                <option value="-baseball%20player">Baseball player</option>
                <option value="-basketball%20player">Basketball player</option>
                <option value="-boxer">Boxer</option>
                <option value="-chessmaster">Chess master</option>
                <option value="-cricketer">Cricketer</option>
                <option value="-cyclist">Cyclist</option>
                <option value="-golfer">Golfer</option>
                <option value="-gymnast">Gymnast</option>
                <option value="-hockey%20player">Hockey player</option>
                <option value="-martial%20arts">Martial arts</option>
                <option value="-mountaineer">Mountaineer</option>
                <option value="-racecar%20driver">Racecar driver</option>
                <option value="-referee">Referee</option>
                <option value="-skater">Skater</option>
                <option value="-skier">Skier</option>
                <option value="-soccer%20player">Soccer player</option>
                <option value="-swimmer">Swimmer</option>
                <option value="-tennis%20player">Tennis Player</option>
                <option value="-wrestler">Wrestler</option>
            </optgroup>
        </select>
    </div>
</template>


<template name="select_domainY">
    <div class="parameter-selection">
        <label>Domain</label>
        <select id="domain" class="top_nav_control">
            <option value="all">All</option>

            <option value="+arts">Arts</option>
            <option value="+humanities">Humanities</option>
            <option value="+business%20&amp;%20law">Business & Law</option>
            <option value="+exploration">Exploration</option>
            <option value="+institutions">Institutions</option>
            <option value="+public%20figure">Public Figure</option>
            <option value="+science%20&amp;%20technology">Science & Technology</option>
            <option value="+sports">Sports</option>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Industries" label="Industries">
                <option value="+design">Design</option>
                <option value="+film%20and%20theatre">Film and Theatre</option>
                <option value="+fine%20arts">Fine Arts</option>
                <option value="+music">Music</option>
                <option value="+business">Business</option>
                <option value="+law">Law</option>
                <option value="+explorer">Explorer</option>
                <option value="+history">History</option>
                <option value="+language">Language</option>
                <option value="+philosophy">Philosophy</option>
                <option value="+government">Government</option>
                <option value="+media%20personality">Media Personality</option>
                <option value="+outlaws">Outlaws</option>
                <option value="+math">Math</option>
                <option value="+natural%20sciences">Natural Sciences</option>
                <option value="+social%20sciences">Social Sciences</option>
                <option value="+individual%20sports">Individual sports</option>
                <option value="+team%20sports">Team sports</option>
            </optgroup>

            <option value="divider" disabled="disabled">-----------</option>

            <optgroup value="Arts" label="Arts">
                <option value="-actor">Actor</option>
                <option value="-architect">Architect</option>
                <option value="-artist">Artist</option>
                <option value="-comedian">Comedian</option>
                <option value="-composer">Composer</option>
                <option value="-comic%20artist">Comic artist</option>
                <option value="-conductor">Conductor</option>
                <option value="-dancer">Dancer</option>
                <option value="-designer">Designer</option>
                <option value="-fashion%20designer">Fashion designer</option>
                <option value="-film%20director">Film director</option>
                <option value="-game%20designer">Game designer</option>
                <option value="-musician">Musician</option>
                <option value="-painter">Painter</option>
                <option value="-photographer">Photographer</option>
                <option value="-sculptor">Sculptor</option>
                <option value="-singer">Singer</option>
            </optgroup>

            <optgroup value="Business & Law" label="Business & Law">
                <option value="-businessperson">Businessperson</option>
                <option value="-lawyer">Lawyer</option>
                <option value="-producer">Producer</option>
            </optgroup>

            <optgroup value="Exploration" label="Exploration">
                <option value="-astronaut">Astronaut</option>
                <option value="-explorer">Explorer</option>
            </optgroup>

            <optgroup value="Arts" label="Humanities">
                <option value="-critic">Critic</option>
                <option value="-historian">Historian</option>
                <option value="-journalist">Journalist</option>
                <option value="-linguist">Linguist</option>
                <option value="-writer">Writer</option>
            </optgroup>

            <optgroup value="Institutions" label="Institutions">
                <option value="-diplomat">Diplomat</option>
                <option value="-judge">Judge</option>
                <option value="-military">Military</option>
                <option value="-nobleman">Nobleman</option>
                <option value="-pilot">Pilot</option>
                <option value="-politician">Politician</option>
                <option value="-public worker">Public worker</option>
                <option value="-religious figure">Religious figure</option>
            </optgroup>

            <optgroup value="Public Figures" label="Public Figures">
                <option value="-celebrity">Celebrity</option>
                <option value="-chef">Chef</option>
                <option value="-extremist">Extremist</option>
                <option value="-mafioso">Mafioso</option>
                <option value="-magician">Magician</option>
                <option value="-model">Model</option>
                <option value="-pilot">Pilot</option>
                <option value="-pirate">Pirate</option>
                <option value="-pornographic%20actor">Pornographic actor</option>
                <option value="-presenter">Presenter</option>
                <option value="-social%20activist">Social activist</option>
            </optgroup>

            <optgroup value="Science & Technology" label="Science & Technology">
                <option value="-anthropologist">Anthropologist</option>
                <option value="-astronomer">Astronomer</option>
                <option value="-archeologist">Archeologist</option>
                <option value="-biologist">Biologist</option>
                <option value="-chemist">Chemist</option>
                <option value="-computer%20scientist">Computer scientist</option>
                <option value="-economist">Economist</option>
                <option value="-engineer">Engineer</option>
                <option value="-geographer">Geographer</option>
                <option value="-beologist">Geologist</option>
                <option value="-inventor">Inventor</option>
                <option value="-mathematician">Mathematician</option>
                <option value="-physician">Physician</option>
                <option value="-physicist">Physicist</option>
                <option value="-political%20scientist">Political scientist</option>
                <option value="-psychologist">Psychologist</option>
                <option value="-sociologist">Sociologist</option>
                <option value="-statistician">Statistician</option>
            </optgroup>

            <optgroup value="Sports" label="Sports">
                <option value="-american%20football%20player">American football player</option>
                <option value="-athlete">Athlete</option>
                <option value="-baseball%20player">Baseball player</option>
                <option value="-basketball%20player">Basketball player</option>
                <option value="-boxer">Boxer</option>
                <option value="-chessmaster">Chess master</option>
                <option value="-cricketer">Cricketer</option>
                <option value="-cyclist">Cyclist</option>
                <option value="-golfer">Golfer</option>
                <option value="-gymnast">Gymnast</option>
                <option value="-hockey%20player">Hockey player</option>
                <option value="-martial%20arts">Martial arts</option>
                <option value="-mountaineer">Mountaineer</option>
                <option value="-racecar%20driver">Racecar driver</option>
                <option value="-referee">Referee</option>
                <option value="-skater">Skater</option>
                <option value="-skier">Skier</option>
                <option value="-soccer%20player">Soccer player</option>
                <option value="-swimmer">Swimmer</option>
                <option value="-tennis%20player">Tennis Player</option>
                <option value="-wrestler">Wrestler</option>
            </optgroup>
        </select>
    </div>
</template>


<template name="select_from">
    <div class="parameter-selection">
        <label>From</label>
        <select id="from">
            <option value="-1000">1000 B.C.</option>
            <option value="-900">900 B.C.</option>
            <option value="-800">800 B.C.</option>
            <option value="-700">700 B.C.</option>
            <option value="-600">600 B.C.</option>
            <option value="-500">500 B.C.</option>
            <option value="-400">400 B.C.</option>
            <option value="-300">300 B.C.</option>
            <option value="-200">200 B.C.</option>
            <option value="-100">100 B.C.</option>
            <option value="1">1 A.D.</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1100">1100</option>
            <option value="1200">1200</option>
            <option value="1300">1300</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
            <option value="1800">1800</option>
            <option value="1850">1850</option>
            <option value="1900">1900</option>
            <option value="1910">1910</option>
            <option value="1920">1920</option>
            <option value="1930">1930</option>
            <option value="1940">1940</option>
            <option value="1950">1950</option>
            <option value="1960">1960</option>
            <option value="1970">1970</option>
            <option value="1980">1980</option>
            <option value="1990">1990</option>
            <option value="2000">2000</option>
        </select>
    </div>
</template>

<template name="select_to">
    <div class="parameter-selection">
        <label>To</label>
        <select id="to">
            <option value="-1000">1000 B.C.</option>
            <option value="-900">900 B.C.</option>
            <option value="-800">800 B.C.</option>
            <option value="-700">700 B.C.</option>
            <option value="-600">600 B.C.</option>
            <option value="-500">500 B.C.</option>
            <option value="-400">400 B.C.</option>
            <option value="-300">300 B.C.</option>
            <option value="-200">200 B.C.</option>
            <option value="-100">100 B.C.</option>
            <option value="1">1 A.D.</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
            <option value="900">900</option>
            <option value="1000">1000</option>
            <option value="1100">1100</option>
            <option value="1200">1200</option>
            <option value="1300">1300</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
            <option value="1800">1800</option>
            <option value="1850">1850</option>
            <option value="1900">1900</option>
            <option value="1910">1910</option>
            <option value="1920">1920</option>
            <option value="1930">1930</option>
            <option value="1940">1940</option>
            <option value="1950">1950</option>
            <option value="1960">1960</option>
            <option value="1970">1970</option>
            <option value="1980">1980</option>
            <option value="1990">1990</option>
            <option value="2000">2000</option>
        </select>
    </div>
</template>

<template name="select_l">
    <div class="parameter-selection">
        <label>L</label>
        <select class="top_nav_control" id="l">
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="214">214</option>
        </select>
    </div>
</template>

<template name="select_country_order">
    <div class="parameter-selection">
        <label>Country Order</label>
        <select>
            <option value="name">Name</option>
            <option value="count">Count</option>
        </select>
    </div>
</template>

<template name="select_industry_order">
    <div class="parameter-selection">
        <label>Industry Order</label>
        <select>
            <option value="name">Name</option>
            <option value="count">Count</option>
        </select>
    </div>
</template>

<template name="select_gender">
    <div class="parameter-selection">
        <label>Gender</label>
        <select>
            <option value="both">Both</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="ratio">Ratio</option>
        </select>
    </div>
</template>
