<template name="tutorial">
    {{#withif tutorialOptions}}
    <div class="tutorial">
        {{tutorial this}}
    </div>
    {{/withif}}
</template>

<template name="renaissance_step1">
    <div class="speech-right triangle-border left">The Renaissance was a period of cultural rebirth between the 13th and 17th century.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step2">
    <div class="speech triangle-border">During the renaissance people explored the arts, sciences and the world.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="renaissance_step3">
    <div class="speech-right triangle-border left">Great writers, such as Shakespeare and Cervantes, were born during The Renaissance.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step4">
    <div class="speech triangle-border">The Renaissance also saw the birth of great artists, like Michelangelo, Raphael and Donatello; who are also well known as Ninja Turtles :-).</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="renaissance_step5">
    <div class="speech-right triangle-border left">Italy, the United Kingdom and France produced the largest number of significant figures during the Renaissance.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step6">
    <div class="speech-right triangle-border left">Italy produced many great artists, and many popes.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step8">
    <div class="speech-right triangle-border left">France and the United Kingdom also produced many great figures.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step9">
    <div class="speech-right triangle-border left">But France produced more great painters than England during the Renaissance.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step10">
    <div class="speech triangle-border">While England produced more great composers than France.</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step11">
    <div class="speech triangle-border">Dive into the Renaissance and other periods using our data! “Better three hours too soon than a minute too late. (William Shakespeare)”</div>
    <div class="guide"><img class="alfredo" src="/alfredo.png" alt="alfredo"></div>
</template>

<template name="explorers_step1">
    <div class="speech-right triangle-border left">From all of the illustrious characters that had global resonance only a few have been explorers.</div>
    <div class="guide"><img class="alfredo" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step2">
    From the globally recognized explorers born before the year 1000 AC three are associated with Iceland.
</template>

<template name="explorers_step3">
    These explorers include Ingolfur Arnarson, who settled Iceland.
</template>

<template name="explorers_step4">
    Eric the red, who reached Greenland, and Leif Ericson who is believed to be the first European to reach the Americas (Newfoundland).
</template>

<template name="explorers_step5">
    During the Renaissance Exploration exploded.
</template>

<template name="explorers_step6">
    This era include the well known explorers and conquistadors of Western Europe.
</template>

<template name="explorers_step7">
    But also, the trips of the great Chinese explorer Zheng He.
</template>

<template name="explorers_step8">
    19th century explored reached the confines of the earth.
</template>

<template name="explorers_step9">
    These explorers include Roal Amudsen who reached both the North Pole and the South Pole.
</template>

<template name="explorers_step10">
    The twentieth century took exploration away from the earth and into our closest neighbor: The Moon.
</template>

<template name="explorers_step11">
    Explorers left their ships in lieu of spaceships.
</template>

<template name="explorers_step12">
    And exploration peaked with Neil Armstrong’s great poem "One small step for man, one giant leap for mankind".
</template>

<template name="ogc_step1">
    From all of the information we generate only a few pieces get to break the barriers of space, time and language.
</template>

<template name="ogc_step2">
    Here, we refer to this information as global culture.
</template>

<template name="ogc_step3">
    The Observatory of Global Culture, or OGC, is an effort to create a visualization platform that can help us explore structured data on global cultural development.
</template>

<template name="ogc_step4">
    The main section of the OGC is called "The Observatory".
</template>

<template name="ogc_step5">
    The Observatory can be used to slice and dice data in many different ways.
</template>

<template name="ogc_step6">
    You can search by country, time period or domain.
</template>

<template name="ogc_step7">
    ...or explore global patterns, such as the "nestedness" of cultural development
</template>

<template name="ogc_step8">
    You can also use the observatory to compare countries and cultural domains.
</template>

<template name="ogc_step9">
    And if you like maps. Well we have that too.
</template>

<template name="ogc_step10">
    The OGC was built using two datasets linking historical characters to their places or birth, date of birth and cultural domain.
</template>

<template name="ogc_step11">
    You can read all about the data used in this section. But we warn you, it is a loooong section.
</template>

<template name="ogc_step12">
    F For those with that competitive edge, we have rankings.
</template>

<template name="ogc_step13">
    You can rank countries by the diversity or number of historical characters born within them.
</template>

<template name="ogc_step14">
    And the people that participated in each domain.
</template>

<template name="ogc_step15">
    Thank’s for visiting the OGC.
</template>

<template name="ogc_step16">
    We hope you enjoy the data, and the visualizations that we created to help you explore.
    Viva la Data!!!
</template>

