<template name="tutorial">
    {{#withif tutorialOptions}}
    <div class="tutorial">
        {{tutorial this}}
    </div>
    {{/withif}}
</template>

<template name="renaissance_step1">
    <div class="speech speech-right triangle-border left">The Renaissance was a period of cultural rebirth between the 13th and 17th century.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step2">
    <div class="speech triangle-border">During the renaissance people explored the arts, sciences and the world.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="renaissance_step3">
    <div class="speech speech-right triangle-border left">Great writers, such as Shakespeare and Cervantes, were born during The Renaissance.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step4">
    <div class="speech triangle-border">The Renaissance also saw the birth of great artists, like Michelangelo, Raphael and Donatello; who are also well known as Ninja Turtles :-).</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="renaissance_step5">
    <div class="speech speech-right triangle-border left">Italy, the United Kingdom and France produced the largest number of significant figures during the Renaissance.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step6">
    <div class="speech speech-right triangle-border left">Italy produced many great artists, and many popes.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step7">
    <div class="speech speech-right triangle-border left">France and the United Kingdom also produced many great figures.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">Thanks Alfredo, I've got it from here...</a>
</template>

<template name="renaissance_step8">
    <div class="speech triangle-border">But France produced more great painters than England during the Renaissance, while England produced more great composers than France.</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="renaissance_step9">
    <div class="speech triangle-border">Dive into the Renaissance and other periods using our data! “Better three hours too soon than a minute too late. (William Shakespeare)”</div>
    <div class="guide"><img class="cartoon" src="/alfredo.png" alt="alfredo"></div>
    <div id="goFurther">
        <a id="goToDiana" href="#">Meet Diana and learn about exploration!</a></br>
        <a id="goToNora" href="#">Meet Nora and learn about Pantheon!</a>
    </div>
</template>

<template name="explorers_step1">
    <div class="speech speech-right triangle-border left diana-left">From all of the illustrious characters that had global resonance, </div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step2">
    <div class="speech speech-right triangle-border left diana-left">...only a few have been explorers.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step3">
    <div class="speech triangle-border diana-bottom">From the globally recognized explorers born before the year 1000 AC three are associated with Iceland. These explorers include Ingolfur Arnarson, who settled Iceland.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="explorers_step4">
    <div class="speech triangle-border diana-bottom">Eric the red, who reached Greenland, and Leif Ericson who is believed to be the first European to reach the Americas (Newfoundland).</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="explorers_step5">
    <div class="speech triangle-border diana-bottom">During the Renaissance Exploration exploded.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="explorers_step6">
    <div class="speech speech-right triangle-border left diana-left">This era include the well known explorers and conquistadors of Western Europe.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step7">
    <div class="speech triangle-border diana-bottom">But also, the trips of the great Chinese explorer Zheng He.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="explorers_step8">
    <div class="speech speech-right triangle-border left diana-left">19th century exploration reached the confines of the earth.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step9">
    <div class="speech triangle-border diana-bottom">These explorers include Roal Amudsen who reached both the North Pole and the South Pole.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="explorers_step10">
    <div class="speech speech-right triangle-border left diana-left">The twentieth century took exploration away from the earth and into our closest neighbor: The Moon.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step11">
    <div class="speech speech-right triangle-border left diana-left">Explorers left their ships in lieu of spaceships.</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <a class="quit" href="#">Thanks Diana, I've got it from here...</a>
</template>

<template name="explorers_step12">
    <div class="speech triangle-border diana-bottom">And exploration peaked with Neil Armstrong’s great poem "One small step for man, one giant leap for mankind".</div>
    <div class="guide"><img class="cartoon" src="/diana.png" alt="diana"></div>
    <div id="goFurther">
        <a id="goToAlfredo" href="#">Meet Alfredo and learn about the Renaissance!</a></br>
        <a id="goToNora" href="#">Meet Nora and learn about Pantheon!</a>
    </div>
</template>

<template name="ogc_step1">
    <div class="speech triangle-border nora-bottom">From all of the information we generate only a few pieces get to break the barriers of space, time and language. Here, we refer to this information as <strong>global culture</strong>.</div></div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step3">
    <div class="speech triangle-border nora-bottom">Pantheon is an effort to create a visualization platform that can help us explore structured data on global cultural development.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step4">
    <div class="speech triangle-border nora-bottom">Start at the Explore section to begin access Pantheon's visualization engine.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step5">
    <div class="speech triangle-border nora-bottom">Pantheon can be used to slice and dice data in many different ways.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step6">
    <div class="speech speech-right triangle-border left nora-left">You can search by country, time period or domain.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="ogc_step7">
    <div class="speech triangle-border nora-bottom">..or explore global patterns, such as the "nestedness" of cultural development</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step8">
    <div class="speech triangle-border nora-bottom">You can also use Pantheon to compare countries and cultural domains.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step9">
    <div class="speech speech-right triangle-border left nora-left">And if you like maps. Well we have that too.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step10">
    <div class="speech triangle-border nora-bottom">Pantheon was built using two datasets linking historical characters to their places or birth, date of birth and cultural domain.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step11">
    <div class="speech triangle-border nora-bottom">You can read all about the methods used in this section. But we warn you, it is a loooong section.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step12">
    <div class="speech triangle-border nora-bottom">For those with that competitive edge, we have rankings.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">Thanks Nora, I've got it from here...</a>
</template>

<template name="ogc_step13">
    <div class="speech triangle-border nora-bottom">You can rank countries by the diversity or number of historical characters born within them.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="ogc_step14">
    <div class="speech triangle-border nora-bottom">And the people that participated in each domain.</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <a class="quit" href="#">exit</a>
</template>

<template name="ogc_step15">
    <div class="speech triangle-border nora-bottom">Thank’s for visiting Pantheon. We hope you enjoy the data, and the visualizations that we created to help you explore. Viva la Data!!!</div>
    <div class="guide"><img class="cartoon" src="/nora.png" alt="nora"></div>
    <div id = "goFurther">
        <a id="goToAlfredo" href="#">Meet Alfredo and learn about the Renaissance!</a></br>
        <a id="goToDiana" href="#">Meet Diana and learn about exploration!</a>
    </div>
</template>

