<template name="tutorial">
    {{#withif tutorialOptions}}
    <div class="tutorial">
        {{tutorial this}}
    </div>
    {{/withif}}
</template>

<template name="renaissance_step1">
    The Renaissance was a period of cultural re-birth.
</template>

<template name="renaissance_step2">
    It represented a period of artistic flourishing, literary transformation, geographic exploration, scientific discovery, religious reformation.
</template>

<template name="renaissance_step3">
    The top cultural figures from this time period included individuals such as Leonardo Da Vinci, Galileo Galilei, Nicolaus Copernicus, and Martin Luther.
</template>

<template name="renaissance_step4">
    Let's dive into fine arts and look at who exports painters from this period.
</template>

<template name="renaissance_step5">
    Italy, the birthplace of the Renaissance, produced the most influential painters of the period - however, as the movement spread, more notable painters emerged from other areas of Europe.
</template>

<template name="renaissance_step6">
    So, perhaps not surprisingly, Italy has a comparative advantage in producing cultural exports in Fine Arts.
</template>

<template name="football_step1">
    Who exports football players?
</template>

<template name="football_step2">
    Well, if we are looking at American Football, there is only one individual who has a presence in over 25 languages!
</template>

<template name="football_step3">
    But, maybe football means something different around the world.
</template>

<template name="football_step4">
    Look at the number of countries that export soccer players!
</template>