<template name="vision">
	<div class="page-top">
		<div class="primary-text">
			Vision of the Project
		</div>
	</div>
	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle trans-bg text span6 offset3">
				<iframe width="100%" height="415" src="http://www.youtube.com/embed/QMYSeFLJmwc" frameborder="0" webkitallowfullscreen moxallowfullscreen allowfullscreen></iframe>
				<p class = "justified">You were not born with the ability to fly, cure disease or communicate at long distances. But you were born in a society that endows you with these capacities. The observatory of global culture is a project celebrating the culture that has allowed our species to dress itself with these fantastic capacities, but also, a project developed to explore measures of international development centered on cultural accomplishments, rather than consumption, institutions or access to basic services.</p>

				<p class = "justified">Measuring development is difficult, and most of the widely accepted measures of progress, such as GDP per capita, or the U.N.’s Human Development Index, are aggregates that fail to consider people’s activities and achievements. Our civilization, however, has been able to achieve much more than providing services and purchasing power to an increasing population. Our history is punctuated by achievements, from the works of Leonardo da Vinci to the footsteps of Neil Armstrong, and from the musical scale of Pythagoras to Newton’s Laws of Motion.</p>

				<p class = "justified">At the Observatory of Global Culture we are working on the creation of data, visualizations and measures of cultural development with the goal to improve our understanding of the impact of culture. By producing these measures we hope to highlight what our society has been able to achieve, and by doing so, focus our social goals in concrete accomplishment that advanced the development of human capacities, rather than in more amorphous forms of aggregate growth.</p>

			</div>
		</div>
	</div>
</template>