<template name="teamMember">
	<li class="team-member {{#if mobile}} mobile{{/if}}">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamLead">
	<li class="team-member-lead {{#if mobile}} mobile{{/if}}">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamUROP">
	<li class="team-member-urop {{#if mobile}} mobile{{/if}}">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamMemberInfo">
	<span class="name">{{name}}</span>
	<div class="desc">{{description}}</div>
	<div class="photo_container">
		<img class="photo" src={{photo}} />
		{{#with media}} 
		<div class="info"> 
			{{#if personal}}<span class="icon-stack"><a href={{personal}} target="_blank"><i class="fa fa-home"></i></a></span>{{/if}}
			{{#if twitter}}<span class="icon-stack"><a href={{twitter}} target="_blank"><i class="fa fa-twitter"></i></a></span>{{/if}}           
			{{#if linkedin}}<span class="icon-stack"><a href={{linkedin}} target="_blank"><i class="fa fa-linkedin"></i></a></span>{{/if}}           
			{{#if email}}<span class="icon-stack"><a href={{email}} target="_blank"><i class="fa fa-envelope"></i></a></span>{{/if}}           
		</div>
		{{/with}}
	</div>
	<div class="role">
		<ul>
			{{#each role}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		{{dates}}
	</div>
</template>

<template name="team">
	<h1 id="team">The Pantheon Team</h1>
	<p>Pantheon is a project from the <a class="macro-link" href="http://macroconnections.media.mit.edu" target="_blank">Macro Connections</a> group at The MIT Media Lab. We are a team of designers, engineers, and scientists working collaboratively to quantify, analyze, measure and visualize global culture. </p>

	<p>Pantheon is made possible by the generous support of the <a href="https://www.media.mit.edu/sponsorship/sponsor-list">Media Lab Consortia</a> and the <a href="http://www.knowledgelab.org/">Metaknowledge Network</a> at the University of Chicago.</p>
	{{!#unless mobile}}
	<div class="team-row">
		<ul>
			{{#each first_row_teamMembers}}
			{{> teamLead}}
			{{/each}}
		</ul>
	</div>
	<h2 class="team-type">Graduate Researchers</h2>
	<div class="team-row">
		<ul>
			{{#each second_row_teamMembers}}
			{{> teamMember}}
			{{/each}}
		</ul>
	</div>
	<h2 class="team-type">Undergraduate Researchers</h2>
	<div class="team-row">
		<ul>
			{{#each third_row_teamMembers}}
			{{> teamUROP}}
			{{/each}}
		</ul>
	</div>
	<h2 class="team-type">External Collaborators</h2>
	<div class="team-row">
		<ul>
			{{#each fourth_row_teamMembers}}
			{{> teamUROP}}
			{{/each}}
		</ul>
	</div>
	{{!/unless}}
	{{!#if mobile}}
		{{!#each allteamMembers}}
<!-- 				<div class="team-row">
			<ul>
			{{!> teamMember}}
			</ul>
		</div> -->
		{{!/each}}	
	{{!/if}}
</template>

<template name="permissions">
	<div class = "text-leftaligned">
		<h1 id="permissions">Permissions </h1>
		<div style="float:left;">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
		</div>
		<div style="float:right;width:520px;">
			<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Pantheon</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://macro.media.mit.edu" property="cc:attributionName" rel="cc:attributionURL">Macro Connections</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</div>
	</div>
</template>

<template name="datasets">
	<div class = "text-leftaligned">
		<h1 id="datasets">Datasets</h1>
		<p>The Pantheon 1.0 datasets are available to download from the links below:</p>
		<p><a href="/pantheon.tsv">pantheon.tsv</a>, is a flattened tab-limited table, where each row of the table represents a unique biography.</p>
		<p><a href="/wikilangs.tsv">wikilangs.tsv</a>, is a tab-delimited table of all the different Wikipedia language editions that each biography has a presence in.</p>
		<p><a href = "/pageviews_2008-2013.tsv">pageviews_2008-2013.tsv</a> contains the monthly pageview data for each individual, for all the Wikipedia language editions in which they have a presence.</p>
		<p>Please refer to the <a href="/methods">methods</a> section for more information on how this data was created. For detailed descriptions of these datasets, please refer to our <a href="http://arxiv.org/abs/1502.07310">data descriptor paper</a>.</p>
		<p>If you use the Pantheon data, please cite: Yu, A. Z., et al. (2015). Pantheon: A Dataset for the Study of Global Cultural Production. <em>arXiv:1502.07310v1 [physics.soc-ph].</em></p> 
	</div>
</template>

<template name="publications">
	<div class = "text-leftaligned">
		<h1 id="publications">Publications</h1>
		<h2>Academic</h2>
		<div>
			<p>Yu, A. Z., Ronen, S., Hu, K., Lu, T., and Hidalgo, C. A. (2015). Pantheon: A Dataset for the Study of Global Cultural Production. <em>arXiv:1502.07310v1 [physics.soc-ph]</em>.</p>
		</div>
		<h2>Magazines</h2>
		<p>Cesar A. Hidalgo and Ali Almossawi. <a href="http://www.scientificamerican.com/article/the-data-visualization-revolution/">"The Data-Visualization Revolution."</a><em>Scientific American</em>. March 2014.</p>
		<p>Hidalgo, C. A. <a href="http://www.technologyreview.com/view/525461/the-last-20-inches-datas-treacherous-journey-from-the-screen-to-the-mind/">"The Last 20 Inches: Data’s Treacherous Journey from the Screen to the Mind."</a><em>MIT Technology Review.</em> March 2014.</p>
		<h2>Press</h2>
		<p>Garner, Dwight. <a href="http://www.nytimes.com/2014/03/16/magazine/whos-more-famous-than-jesus.html">"Who's More Famous Than Jesus?"</a> <em>The New York Times Magazine.</em> March 2014.</p>
		<p>Rhodes, Margaret.<a href="http://www.fastcodesign.com/3027817/mit-media-lab-maps-historys-biggest-celebrities"> "MIT Media Lab Maps History's Biggest Celebrities."</a> <em>Fast Company</em>. March 2014.</p>
		<p>Landry, Lauren. <a href="http://bostinno.streetwise.co/2014/03/25/mit-media-labs-pantheon-project-historys-biggest-celebrities-1/">"Who are History's Biggest Celebrities? The MIT Media Lab Has the Answer."</a> <em>BostInno</em>. March 2014.</p>
		<div>
		</div>
	</div>
</template>

<template name="vision">
	<div class = "text-leftaligned">
		<h1 id="vision">Vision</h1>
		<p>You were not born with the ability to fly, cure disease or communicate at long distances, but you were born in a society that endows you with these capacities. These capacities are the result of information that has been generated by humans and that humans have been able to embed in tangible and digital objects.</p>
		<p>This information is all around you. It is the way in which the atoms in an airplane are arranged or the way in which your cell-phone whispers dance instructions to electromagnetic waves. </p>
		<p>Pantheon is a project celebrating the cultural information that endows our species with these fantastic capacities. To celebrate our global cultural heritage we are compiling, analyzing and visualizing datasets that can help us understand the process of global cultural development. Dive in, visualize, and enjoy.</p>

		<div class="vision-videos">
			<h2>The Ghosts of Information</h2>
			<div class="video-wrapper">
				<iframe src="//player.vimeo.com/video/89016128?byline=0&portrait=0&badge=0&title=0&color=222222" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<h2>Mapping Global Cultural Production</h2>
			<div class="video-wrapper">
				<iframe src="//player.vimeo.com/video/89015710?byline=0&portrait=0&badge=0&title=0&color=222222" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</template>

<template name="faq">
	<div class = "text-leftaligned">
		<h1 id="faq">Frequently Asked Questions</h1>
	</div>

	<p>This section contain bullet point answers for some of the most frequent questions. For a more thorough answer see the <a href="methods">methods</a> section.</p>

	<h2>What is culture?</h2>
	<p>Culture  is all information that is transmitted through non-genetic means. Culture ranges from the shared norms and beliefs of societies, to the knowledge and information that leads to the development of modern science and technology. It is the information that is transmitted orally, in texts, or in artifacts. Our measures of culture do not capture this definition of culture in its full extent, but a small subset of it. Namely, the one associated with accomplishments or historical periods that have a strong association with single individuals (see data).</p>

	<h2>What is global culture?</h2>
	<p>Global culture encompasses the cultural expressions that have broken many linguistic barriers--as compared to local culture, which is information that is contained within a few language groups. </p>

	<h2>How are individuals attributed to countries? Does the data take immigration into account?</h2>
	<p>Currently, we attribute individuals by their country of birth--based on current political maps. This means that Albert Einstein is an export of Germany (since he was born in Ulm) and that individuals born in the ancient city of Babylon were assigned to Iraq. </p>

	<h2>What about the inherent biases within Wikipedia? </h2>
	<p>Wikipedia data is rife with biases and limitations. Yet, these do not render it useless in absence of other comprehensive sources that can compete with Wikipedia in its coverage in both topics and number of languages included. A detailed description of these and other biases is available on the <a href="methods">Methods</a> page.</p>

	<h2>Is this project open source? How can I access the dataset?</h2>
	<p>In the first release of this project, we encourage viewers to give us feedback and contribute to the project. We plan on open sourcing the visualization engine and supporting datasets in a future release.</p>

	<h2>This is awesome! How can I contribute to the effort?</h2>
	<p>We’d love your feedback! Help us improve by <a href="http://bit.ly/QWSKoc">letting us know</a> if anything is missing or incorrect. And of course, feel free to spread the word and share the stories that you discover!</p>
</template>

<template name="contact">
	<div class = "text-leftaligned">
		<h1 id="contact">Contact Us</h1>
		<p class="center"><i class="fa fa-envelope fa-lg"></i> pantheon[at]media[dot]mit[dot]edu</p>
		<p class="center"><i class="fa fa-map-marker fa-lg"></i> 75 Amherst Street, Cambridge, MA 02142</p>
	<div>
</template>

<template name="about">
	<div class="page-top methods"></div>
	<div id="page" class="{{#unless mobile}}min-width{{/unless}}">
		{{#unless mobile}}
		<div id="table-of-contents" class="text">	
		<div class="section-header">
				About Pantheon
		</div>		
			<ul class="nav nav-list">
				<li><a class="h1" href="/about/team">Team</a></li>
				<li><a class="h1" href="/about/vision">Vision</a></li>
				<li><a class="h1" href="/about/publications">Publications</a></li>
				<li><a class="h1" href="/about/datasets">Datasets</a></li>
				<li><a class="h1" href="/about/permissions">Permissions</a></li>
				<li><a class="h1" href="/about/faq">F.A.Q.</a></li>
				<li><a class="h1" href="/about/contact">Contact</a></li>

			</ul>
		</div>
		{{/unless}}
		<div class="text-page-middle page-middle text team-page{{#if mobile}} mobile{{/if}}">
			{{ render_template }}
		</div>
	</div>
</div>
</template>

<template name= "countrycodeSearch">
	{{inputAutocomplete settings id="country-search" placeholder="Countrycode lookup..."}}
</template>

<template name="country_result">
	{{countryName}}
</template>