<!-- Non-visualization specific explore page elements (e.g. accordion, menu) -->
<template name="explore">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="page-top span8 offset2">   
                {{> question}}
                {{> date_header}}
            </div>
            <div class="page-top span2">
                {{> sharing_options}}
            </div>
        </div>
    </div>

    <!-- Hack to bypass order of templating (not found when changing viz) -->
    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    <canvas id="canvas" width="0" height="0" style="display: none"></canvas>
                    {{#if initialDataReady}}
                        {{> explore_options}} 
                    {{/if}}
                </div>
                <!-- Visualization and Ranked List Container -->
                {{> visualization}}
                {{> tooltip}}
                {{> clicktooltip}}
            </div>
        </div>
    </div>
</template>

<template name="time_slider">
    <div class="slider"></div>
</template>

<template name="explore_options">
    <div class="viz-selector">
        <div class="section-header">
            Visualizations
        </div>
        {{> accordion}}
    </div>
    <div class="spacer"></div>
    <div class="viz-options">
        <div id="parameters" class="section-header">
            Parameters
        </div>
        {{> select_mode }}
    </div>
    <div class="spacer"></div>
</template>

<template name="visualization">
    {{ resize }}
    {{ render_template }}
</template>

<!-- Accordion Selector -->
<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="treemap" data-viz-mode="country_exports">By Country</a></span></li>
                <li><span><a href="#" data-viz-type="treemap" data-viz-mode="domain_exports_to">By Domain</a></span></li>
            </ul>
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="matrix" data-viz-mode="matrix_exports">Countries and Domains</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="scatterplot" data-viz-mode="country_vs_country">Country vs. Country</a></span></li>
                <li><span><a href="#" data-viz-type="scatterplot" data-viz-mode="domain_vs_domain">Domain vs. Domain</a></span></li>
            </ul>
        </div>
        <h3 class="app">MAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="map" data-viz-mode="map">Global Exports</a></span></li>
            </ul>
        </div>
    </div>
</template>

<!-- Visualization and Viz-Mode specific Question -->
<template name="question">
    <div id="question" class="primary-text">{{question}}</div>
</template>

<template name="date_header">
    <div class="secondary-text">[<span class="from">{{from}}</span> &#8212; <span class="to">{{to}}</span>]</div>
</template>

<!-- Ranked List for Treemap -->
<template name="ranked_list">
    <div class="ranked_list">
        <div class="section-header">RANKINGS</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                {{#each top10}}
                    {{> ranked_person person_lookup}}
                {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
</template>

<!-- Person in Ranked List -->
<template name="ranked_person">
    <a href="{{pathFor 'people'}}">
        <li>
            {{! insert thumbnail here}}
            {{name}}
            <br>
            <span>
                {{occupation}}, b. {{birthday}} ({{index}})
            </span>
        </li>
    </a>
</template>

<!-- Tooltips -->
<template name="tooltip">
    {{#if tooltipShown}}
        {{#if tooltipDataReady}}
        <div id="tooltip" style="top:{{position.top}}px; left:{{position.left}}px">
            <div id="tooltip-inner">
                <span class="category">{{heading}}</span>
                
                <div class="total-count">{{count}} {{suffix}}</div>
                <div class="list">
                    {{#each top5}} 
                        {{> tt_person person_lookup}} 
                    {{/each}}
                </div>
                {{#if more}}<span class="extras">({{extras}} more)</span>{{/if}}
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<!-- Person in tooltip list-->
<template name = "tt_person">
    {{name}}<span class="birthplace"> born {{birthday}}, {{countryName}} ({{index}})</span><br />
</template>

<!-- Big Tooltip (Overlay for visualization click events -->
<!-- Reuses the d3plus tooltip_large styling TODO: update to custom styling for OGC-->
<template name="clicktooltip">
    {{#if showclicktooltip}}
        {{#if tooltipDataReady}}
        <div id = "clicktooltip">
            <div id="d3plus_tooltip_curtain_tree_map" class="d3plus_tooltip_curtain" style="background-color: rgb(255, 255, 255);"></div>
            <div id = "d3plus_tooltip_id_treemap" class="d3plus_tooltip d3plus_tooltip_large">
                <div class="d3plus_tooltip_container">
                    <div class="d3plus_tooltip_top">
                        <div class="d3plus_tooltip_title">{{title}}</div>
                        <div class="d3plus_tooltip_subtitle">{{count}} individuals</div>
                    </div>
                    <div class="d3plus_tooltip_bottom">
                        <div class="d3plus_tooltip_body">
                            <div>
                                {{ render_links }}
                            </div>
                        </div>
                        <div class="d3plus_tooltip_html">
                            {{> ranking_table }}
                        </div>
                    </div>
                </div>
                <div class="d3plus_tooltip_close" style="">×</div>
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<template name="domain_exporter_question">
    {{question}}
</template>

<template name="country_exports_question">
    {{question}}
</template>

<template name="domain_advantage_question">
    Who has comparative advantage in <b>{{categoryName}}s</b>?
</template>

<template name="country_advantage_question">
    What is the comparative advantage of <b>{{countryName}}</b>?
</template>

<template name="treemap_domain_exports_to">
    <a class="closeclicktooltip" href="/treemap/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="treemap_country_exports">
    <a class="closeclicktooltip" href="/treemap/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="map_global_exports">
    <a class="closeclicktooltip" href="/map/map/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/map_icon.png"></a>
</template>

<template name="histogram_domain_exports_to">
    <a class="closeclicktooltip" href="/histogram/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="histogram_country_exports">
    <a class="closeclicktooltip" href="/histogram/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="tt_treemap_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }}
    </div>
</template>

<template name="tt_treemap_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
</template>

<template name="tt_global_exports">
    {{> tt_treemap_country_exports }}
    {{> tt_treemap_domain_exports_to }}
</template>

<template name="tt_histogram_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }} 
    </div>
</template>

<template name="tt_histogram_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
</template>