<template name="home">
    <div class="page-top"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">   
                <div class="page-title">Guided Tour</div>
                <div class="description">Get a tour of the features of Pantheon from one of our helpful characters</div>
            </div>
            <div class="span4">   
                <div class="page-title">Featured Narratives</div>
                <div class="description">Learn about how we <a class="word" href="/data">collected</a>, <a class="word" href="/data">organized</a>, and <a class="word" href="/data">validated</a> our data.</div>
            </div>
            <div class="span4">   
                <div class="page-title">Explore On My Own</div>
                <div class="description">Dive in immediately and explore the different dimensions of Pantheon by yourself!</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">   
                <div class="page-title">Visualizations</div>
                <div class="description">Learn about how we <a class="word" href="/data">collected</a>, <a class="word" href="/data">organized</a>, and <a class="word" href="/data">validated</a> our data.</div>
            </div>
            <div class="span4">   
                <div class="page-title">Rankings</div>
                <div class="description">Learn about how we <a class="word" href="/data">collected</a>, <a class="word" href="/data">organized</a>, and <a class="word" href="/data">validated</a> our data.</div>
            </div>
            <div class="span4">   
                <div class="page-title">Data</div>
                <div class="description">Learn about how we <a class="word" href="/data">collected</a>, <a class="word" href="/data">organized</a>, and <a class="word" href="/data">validated</a> our data.</div>
            </div>
        </div>
    </div>
</template>