<!-- Non-visualization specific Observatory elements (e.g. accordion, menu) -->
<template name="observatory">
    <div class="page-top">   
        {{> question}}
        {{> date_header}}
    </div>

    <!-- Hack to bypass order of templating (not found when changing viz -->
    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    {{#if initialDataReady}}
                        {{> observatory_options}} 
                    {{/if}}
                </div>
                <!-- Visualization and Ranked List Container -->
                {{> visualization}}
                {{> tooltip}}
                {{> clicktooltip }}
            </div>
        </div>
    </div>
</template>

<template name="time_slider">
    <div class="slider"></div>
</template>

<template name="observatory_options">
    <div class="viz-selector">
        <div class="section-header">
            Visualizations
        </div>
        {{> accordion}}
    </div>
    <div class="spacer"></div>
    <div class="viz-options">
        <div id="parameters" class="section-header">
            Parameters
        </div>
        {{> select_mode }}
    </div>
    <div class="spacer"></div>
</template>

<template name="visualization">
    {{ resize }}
    {{ render_template }}
</template>

<!-- Accordion Selector -->
<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="treemap" data-viz-mode="country_exports">Exports by Country</a></span></li>
                <!--li><span><a href="#" data-viz-mode="country_imports">Imports</a></span></li-->
                <li><span><a href="#" data-viz-type="treemap" data-viz-mode="domain_exports_to">Exporters of Domain</a></span></li>
                <!--li><span><a href="#" data-viz-mode="domain_imports_from">Importers from</a></span></li-->
            </ul>
            <!--span class="app_subtitle">Bilateral</span>
            <ul>
                <li><span><a href="#" data-viz-mode="bilateral_exporters_of">Exports to</a></span></li>
                <li><span><a href="#" data-viz-mode="bilateral_importers_of">Exporters of</a></span></li>
            </ul-->
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="matrix" data-viz-mode="matrix_exports">Global Exports</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="scatterplot" data-viz-mode="country_vs_country">Country vs. Country</a></span></li>
                <!-- <li><span><a href="#" data-viz-mode="lang_vs_lang">Language vs. Language</a></span></li> -->
                <li><span><a href="#" data-viz-type="scatterplot" data-viz-mode="domain_vs_domain">Domain vs. Domain</a></span></li>
            </ul>
        </div>
        <h3 class="app">MAPS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="map" data-viz-mode="map">Global Exports</a></span></li>
            </ul>
        </div>
<!--         <h3 class="app">HISTOGRAMS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="histogram" data-viz-mode="country_exports">Exports by Country</a></span></li>
                <li><span><a href="#" data-viz-type="histogram" data-viz-mode="domain_exports_to">Exports of Domain</a></span></li>
            </ul>
        </div> -->
<!--         <h3 class="app">STACKED AREA CHARTS</h3>
        <div>
            <ul>
                <li><span><a href="#" data-viz-type="stacked" data-viz-mode="country_exports">Exports by Country</a></span></li>
                <li><span><a href="#" data-viz-type="stacked" data-viz-mode="domain_exports_to">Exporters of Domain</a></span></li>
            </ul>
        </div>  -->
    </div>
</template>

<!-- Visualization and Viz-Mode specific Question -->
<template name="question">
    <div id="question" class="primary-text">{{question}}</div>
</template>

<template name="date_header">
    <div class="secondary-text">[<span class="from">{{from}}</span> &#8212; <span class="to">{{to}}</span>]</div>
</template>

<!-- Ranked List for Treemap -->
<template name="ranked_list">
    <div class="ranked_list">
        <div class="section-header">RANKINGS</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                {{#each top10}}
                    {{> ranked_person person_lookup}}
                {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
</template>

<!-- Person in Ranked List -->
<template name="ranked_person">
    <li>
        {{! insert thumbnail here}}
        <a href="{{pathFor 'people'}}">
            {{name}}
            <br>
            <span>
                {{occupation}}, born {{birthday}} ({{numlangs}})
        </span>
        </a>
    </li>
</template>

<!-- Tooltips -->
<template name="tooltip">
    {{#if tooltipShown}}
        {{#if tooltipDataReady}}
        <div id="tooltip" style="top:{{position.top}}px; left:{{position.left}}px">
            <div id="tooltip-inner">
                <span class="category">{{heading}}</span>
                
                <div class="total-count">{{count}} {{suffix}}</div>
                <div class="list">
                    {{#each top5}} 
                        {{> tt_person person_lookup}} 
                    {{/each}}
                </div>
                {{#if more}}<span class="extras">({{extras}} more)</span>{{/if}}
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<!-- Person in tooltip list-->
<template name = "tt_person">
    {{name}}<span class="birthplace"> born {{birthday}}, {{countryName}} ({{numlangs}})</span><br />
</template>

<!-- Big Tooltip (Overlay for visualization click events -->
<!-- Reuses the d3plus tooltip_large styling TODO: update to custom styling for OGC-->
<template name="clicktooltip">
    {{#if showclicktooltip}}
        {{#if tooltipDataReady}}
        <div id = "clicktooltip">
            <div id="d3plus_tooltip_curtain_tree_map" class="d3plus_tooltip_curtain" style="background-color: rgb(255, 255, 255);"></div>
            <div id = "d3plus_tooltip_id_treemap" class="d3plus_tooltip d3plus_tooltip_large">
                <div class="d3plus_tooltip_container" style="width: 900px;">
                    <div class="d3plus_tooltip_top">
                        <div class="d3plus_tooltip_title">{{title}}</div>
                        <div class="d3plus_tooltip_subtitle">{{count}} individuals</div>
                    </div>
                    <div class="d3plus_tooltip_bottom">
                        <div class="d3plus_tooltip_body" style="width: 250px;">
                            <div>
                                {{ render_links }}
                            </div>
                        </div>
                        <div class="d3plus_tooltip_html" style="width: 615px;">
                            {{> tt_table }}
                        </div>
                    </div>
                </div>
                <div class="d3plus_tooltip_close" style="background-color: rgb(216, 197, 104);">×</div>
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<template name="domain_exporter_question">
    Who Exports <b>{{categoryName}}</b>?
</template>

<template name="country_exports_question">
    Who are the cultural exports of <b>{{countryName}}</b>?
</template>

<template name="domain_advantage_question">
    Who has comparative advantage in <b>{{categoryName}}s</b>?
</template>

<template name="country_advantage_question">
    What is the comparative advantage of <b>{{countryName}}</b>?
</template>

<template name="treemap_domain_exports_to">
    <a class="closeclicktooltip" href="/treemap/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="treemap_country_exports">
    <a class="closeclicktooltip" href="/treemap/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="map_global_exports">
    <a class="closeclicktooltip" href="/map/map/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/map_icon.png"></a>
</template>

<template name="histogram_domain_exports_to">
    <a class="closeclicktooltip" href="/histogram/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="histogram_country_exports">
    <a class="closeclicktooltip" href="/histogram/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="tt_treemap_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }}
    </div>
    <!--<div class="explore-group">-->
        <!--<div class="question">{{> domain_advantage_question}}</div>-->
        <!--{{> histogram_domain_exports_to}}-->
    <!--</div>-->
</template>

<template name="tt_treemap_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
    <!--<div class="explore-group">-->
        <!--<div class="question">{{> country_advantage_question}}</div>-->
        <!--{{> histogram_country_exports}}-->
    <!--</div>-->
</template>

<template name="tt_global_exports">
    {{> tt_treemap_country_exports }}
    {{> tt_treemap_domain_exports_to }}
</template>

<template name="tt_histogram_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }} 
    </div>
</template>

<template name="tt_histogram_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
</template>

<template name="tt_table">
    {{#constant}}
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="tt_table">
        <thead>
        {{> tt_pp_cols }}
        </thead>
        <tbody>
        {{> ranked_people_list }}
        </tbody>
    </table>
    {{/constant}}
</template>

<!--Person header template -->
<template name="tt_pp_cols">
    <tr>
        <th name="Rank Index">Ranking</th>
        <th name="Name of Individual">Name</th>
        <th name="Country of Birth">Country</th>
        <th name="Birth year of individual">Birth Year</th>
        <th name="Gender">Gender</th>
        <th name="Occupation - lowest level of domain classification">Occupation</th>
        <th name="Number of Wikipedia language editions">L</th>
    </tr>
</template>