<template name="people">
	<div class="page-top">
		<div id="people-page">
    		{{#with person}}
        		{{#if dataReady}}
	           		{{> person_left}}
	           	{{/if}}
	        	{{> person_page}}
	        	{{#if dataReady}}
    	       		{{> person_right}}
    	       	{{/if}}
			{{/with}}
		</div>
	</div>
</template>

<template name="search">
	{{inputAutocomplete settings id="people-search"}}
</template>

<template name="search_result">
	{{name}}
</template>

<template name="person_left">
	<div class="ranked-people-left">
    	{{#each peopleLeft}}
            {{> person_pill}}
        {{/each}}
    </div>
</template>

<template name="person_right">
    <div class="ranked-people-right">
    	{{#each peopleRight}}
    	    {{> person_pill}}
   	    {{/each}}
   	</div>
</template>

<template name="person_page">
	<div class="page-middle person-page">
		<div class="person-top">
			<span class="person-name">
				<a href="hhttp://en.wikipedia.org/wiki/{{name}}" target="_blank">{{name}}</a>
			</span>
			<i id="search-button" class="fa fa-search"></i>
			<span class="person-search">
				{{> search}}
			</span>
			<i id="random-button" class="fa fa-random"></i>
		</div>
		<div class="person-body">
			<div class="person-body-left">
				<img class="person-image" src="/people/{{en_curid}}.jpg" onerror="$('.person-body-left').remove(); $('.person-body-right').addClass('no-left');">
			</div>
			<div class="person-body-right">
				<div class="person-description">
					<p>{{name}} (<b class="occupation">{{occupation}}</b>) was born in <b class="birthcity">{{birthcity}}</b>, <b class="country-name">{{countryName}}</b> in <b class="birthyear">{{birthday}}</b>.</p>

					<p>{{gender}} is featured in <b class="numlangs">{{numlangs}}</b> different language editions of Wikipedia and has received <b>{{pageviews}}</b> combined Pageviews since 2008.</p>
				</div>
				<div class="person-metrics">
					<div class="person-metrics-title">
						Pantheon Metrics
						<span class="person-hpi">
							HPI = {{hpi}}
						</span>
					</div>
					<div class="person-metrics-body">
						<div class="person-metrics-body-left">
							<ul>
								<li>L (language editions):</li>
								<li>PV (page views):</li>
								<li>PV<sub>e</sub> (english pageviews):</li>
								<li>PV<sub>ne</sub> (non-english pageviews):</li>
								<li>CV (coeff. of variation):</li>
								<li>L* (effective L):</li>
							</ul>
						</div>
						<div class="person-metrics-body-right">
							<ul>
								<li>{{numlangs}}</li>
								<li>{{pageviews}}</li>
								<li>{{pageviews_e}}</li>
								<li>{{pageviews_ne}}</li>
								<li>{{stdDevPageViews}}</li>
								<li>{{L_star}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="person-bottom">
			<div class="person-ranking-title">
				Ranking Among
			</div>
			<div class="person-ranking-cards">
				<div class="card ranking-card shared-occupation {{#if rankingOccupation}}active{{/if}}" data-ranking-property="occupation">
					<div class="ranking-label">{{occupation}}</div>
					<div class="ranking-fraction">
						<div class="ranking">{{occupationRank}}</div> out of <div class="count">{{occupationCount}}</div>
					</div>
				</div>
				<div class="card ranking-card shared-birthyear {{#if rankingBirthyear}}active{{/if}}" data-ranking-property="birthyear">
					<div class="ranking-label">People b. {{birthyear}}</div>
					<div class="ranking-fraction">
						<div class="ranking">{{birthyearRank}}</div> out of <div class="count">{{birthyearCount}}</div>
					</div>
				</div>
				<div class="card ranking-card shared-birthplace {{#if rankingCountryName}}active{{/if}}" data-ranking-property="countryName">
					<div class="ranking-label">People b. {{countryName}}</div>
					<div class="ranking-fraction">
						<div class="ranking">{{countryRank}}</div> out of <div class="count">{{countryCount}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="person_pill">
	<a href="{{pathFor 'people'}}">
		<div class="card person-pill {{coloring}}{{#if hidden}} filler{{/if}}">
			<div class="rank">{{rank}}</div>
			<div class="name">{{name}}</div>
		</div>
	</a>
</template>