<template name="rankings">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="page-top {{#unless mobile}}span8 offset2{{else}}span12 mobile{{/unless}}">
                <div class="primary-text">
                    {{entity}} Rankings
                </div>
            </div>
        </div>
    </div>

    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="{{#unless mobile}}page-left span2{{else}} span12 mobile parameters{{/unless}}" style="{{#if mobile}}display:none{{/if}}">
                    <div class="viz-selector">
                        {{> ranking_selections}}
                    </div>
                </div>
                <!-- Visualization and Ranked List Container -->
                <div class="page-middle {{#unless mobile}}span8{{else}}span12{{/unless}}" style="{{#if mobile}}margin:0{{/if}}">
                    <div id = "tooltip" class ="invisible"></div>
                    {{#if rankingdataReady}}                      
                        {{> ranking_table}}
                    {{else}}
                        {{> spinner}}
                    {{/if}}
                </div>
            </div>
            {{#if rankingdataReady}}     
                <div class="row-fluid">
                    <div class="column-descriptions {{#unless mobile}}page-right span2{{else}} page-middle span12{{/unless}}">
                        <div class="section-header{{#if mobile}} mobile{{/if}}">
                            Definitions
                        </div>
                        {{> columnDescriptions}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="message_update">
    {{#if alert}}
    <div class="alert alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Message to our visitors:</strong>
        <p>We remind our visitors that:</p>

        <p>1. <b>Pantheon is a live resource, meaning that we are constantly revising and updating our data and methods.</b> We have recently updating our ranking formula to control more strongly for the recency bias.</p>

        <p>2. <b>Small differences in ranking (i.e. who is first, second or tenth) are not statistically meaningful</b> and should not be used to draw strong conclusions about the popularity of similarly ranked individuals--or for press headlines.</p>

        <p>3. <b>Individuals are mapped to their places of birth according to present day national boundaries</b>, not national identities. This is a technical limitation emerging from the size and availability of data.</p>

        <p>More details about the limitations of Pantheon are described in the methods section. Please do not hesitate to contact us at <a href="mailto:pantheon@media.mit.edu">pantheon@media.mit.edu</a> or on Twitter (<a href="http://twitter.com/MacroMIT" target="_blank">@MacroMIT</a>) if you have any questions.</p>

        <p>The Pantheon Team</p>
    </div>
    {{/if}}
</template>

<template name="ranking_selections">
    {{#unless mobile}}
    <div class="section-header">
        Rankings
    </div>
    {{/unless}}
    {{> select_entity}}
    <div class="spacer"></div>
    <div class="section-header {{#if mobile}} mobile{{/if}}">
        Parameters
    </div>
    {{> select_mode}}
    <div class="spacer"></div>
    <div class="parameter-selection">
    {{> place_of_birth}}
    {{> feedback}}
    </div>
</template>

<template name="countries_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Place of Birth*</div><div class="definition">Place of Birth</div>
    <div class="term">Number of people</div><div class="definition">Total number of globally known people</div>
    {{#unless mobile}}
    <div class="term">% Women</div><div class="definition">Percent women</div>
    <div class="term">Diversity</div><div class="definition">The number of unique cultural domains exported by a country</div>
    <div class="term">i50</div><div class="definition">The total number of individuals present in at least 50 Wikipedia languages</div>
    <div class="term">H-index</div><div class="definition">Similar to the H-index measure for publications - a country has index h if h individuals from that country have presence in at least h Wikipedia languages.</div>
    {{/unless}}
    <div class="term">HCPI</div><div class="definition">Historical Cultural Production Index - the aggregate HPI of the individuals from a specific country</div>
</template>

<template name="people_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Name</div><div class="definition">Name of Individual</div>
    {{#unless mobile}}
    <div class="term">Place of Birth*</div><div class="definition">Place of Birth</div>
    <div class="term">Birth Year</div><div class="definition">Birth year of individual</div>
    <div class="term">Gender</div><div class="definition">Gender</div>
    {{else}}
    <div class="term">Birth Year</div><div class="definition">Birth year of individual</div>
    <div class="term">Place of Birth*</div><div class="definition">Place of Birth</div>
    {{/unless}}
    <div class="term">Domain</div><div class="definition">Highest level of domain classification</div>
    {{#unless mobile}}
    <div class="term">Occupation</div><div class="definition">lowest level of domain classification</div>
    <div class="term">L</div><div class="definition">Number of Wikipedia language editions</div>
    <div class="term">L*</div><div class="definition">Effective number of languages.</div>
    <div class="term">Page Views (PV)</div><div class="definition">Total page views across all Wikipedia language editions from Jan 2008 - Dec 2013</div>
    <div class="term">English Page Views (PV<sub>e</sub>)</div><div class="definition">Page views within the English Wikipedia from Jan 2008 - Dec 2013</div>
    <div class="term">Non-English Page Views (PV<sub>ne</sub>)</div><div class="definition">Page views within all non-English Wikipedias from Jan 2008 - Dec 2013</div>
    <div class="term">Standard Deviation of Page Views (&sigma;<sub>PV</sub>)</div><div class="definition">Standard deviation of total page views from Jan 2008 - Dec 2013</div>
    {{/unless}}
    <div class="term">HPI</div><div class="definition">Historical Popularity Index</div>
</template>

<template name="domains_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Occupation</div><div class="definition">Lowest level of domain classification</div>
    {{#unless mobile}}
    <div class="term">Industry</div><div class="definition">Second level of domain classification</div>
    <div class="term">Domain</div><div class="definition">Highest level of domain classification</div>
    {{/unless}}
    <div class="term">Total Exporters</div><div class="definition">The number of countries that export the specified domain</div>
    {{#unless mobile}}
    <div class="term">% Women</div><div class="definition">Percent women</div>
    {{/unless}}
    <div class="term">Total People</div><div class="definition">Total individuals in this category</div>
</template>

<template name="ranking_table">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="ranking">
    </table>
</template>