<template name="rankings">
    <div class="page-top">
        <div class="primary-text">
            Rankings
        </div>
    </div>

    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-left span2">
                    <div class="viz-selector">
                        {{> ranking_selections}}
                    </div>
                </div>
                <!-- Visualization and Ranked List Container -->
                <div class="page-middle span8" style="text-align:center;">
                    <div id = "tooltip" class ="invisible"></div>
                    {{#if dataReady}}                      
                        {{> ranking_table}}
                    {{else}}
                        {{> spinner}}
                    {{/if}}
                </div>
                <div class="column-descriptions page-right span2">
                    <div class="section-header">
                        Definitions
                    </div>
                    {{columnDescriptions}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ranking_selections">
    <div class="section-header">
        Rankings
    </div>
    {{> select_entity}}
    <div class="spacer"></div>
    <div class="section-header">
        Parameters
    </div>
    {{> select_mode}}
</template>

<template name="countries_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Country</div><div class="definition">Country of Birth</div>
    <div class="term">Number of people</div><div class="definition">Total number of globally known people</div>
    <div class="term">% Women</div><div class="definition">Percent women</div>
    <div class="term">Diversity</div><div class="definition">The number of unique cultural domains exported by a country</div>
    <div class="term">i50</div><div class="definition">The total number of individuals present in at least 50 Wikipedia languages</div>
    <div class="term">H-index</div><div class="definition">Similar to the H-index measure for publications - a country has index h if h individuals from that country have presence in at least h Wikipedia languages.</div>
    <div class="term">HCPI</div><div class="definition">Historical Cultural Production Index - the aggregate HPI of the individuals from a specific country</div>
</template>

<template name="people_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Name</div><div class="definition">Name of Individual</div>
    <div class="term">Country</div><div class="definition">Country of Birth</div>
    <div class="term">Birth Year</div><div class="definition">Birth year of individual</div>
    <div class="term">Gender</div><div class="definition">Gender</div>
    <div class="term">Occupation</div><div class="definition">lowest level of domain classification</div>
    <div class="term">L</div><div class="definition">Number of Wikipedia language editions</div>
    <div class="term">L*</div><div class="definition">Effective number of languages.</div>
    <div class="term">Page Views(PV)</div><div class="definition">Total page views across all Wikipedia language editions from Jan 2008 - Dec 2013</div>
    <div class="term">English Page Views (PV<sub>e</sub>)</div><div class="definition">Page views within the English Wikipedia from Jan 2008 - Dec 2013</div>
    <div class="term">Non-English Page Views (PV<sub>ne</sub>)</div><div class="definition">Page views within all non-English Wikipedias from Jan 2008 - Dec 2013</div>
    <div class="term">Standard Deviation of Page Views (&sigma;<sub>PV</sub>)</div><div class="definition">Standard deviation of total page views from Jan 2008 - Dec 2013</div>
    <div class="term">HPI</div><div class="definition">Historical Popularity Index</div>
</template>

<template name="domains_columns">
    <div class="term">Ranking</div><div class="definition">Rank Index</div>
    <div class="term">Occupation</div><div class="definition">Lowest level of domain classification</div>
    <div class="term">Industry</div><div class="definition">Second level of domain classification</div>
    <div class="term">Domain</div><div class="definition">Highest level of domain classification</div>
    <div class="term">Total Exporters</div><div class="definition">The number of countries that export the specified domain</div>
    <div class="term">% Women</div><div class="definition">Percent women</div>
    <div class="term">Total People</div><div class="definition">Total individuals in this category</div>
</template>

<template name="ranking_table">
    {{#constant}}
    <table cellpadding="0" cellspacing="0" border="0" class="display fixed-size" id="ranking">
    </table>
    {{/constant}}
</template>