<template name="references">
	<div class="page-top">
		<div class="primary-text">
		</div>
	</div>

	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle text span6 offset3">
				
				<h2 id="some_references">Some References</h2>
				<p>There are many good references and resources for those wanting to learn more about global cultural development. Below you can find a list with a few resources including literature, methods and datasets from a number of disciplines and authors. As you probably imagine, the goal of this site is not to be a reference list, but a visualization engine for the data we are serving, so if you find that there is a resource that is missing, don’t be a b**** and just complaint about it on twitter or your blog. Instead, be a darling and send us an email with a reference or link to the resource together with a brief summary of the contribution. That way, we can add it to this page. You can reach us easily at (culture (at) media.mit.edu).</p>
				
				<h2>Cultural Anthropology</h2>
				<p>Rob Boyd and Peter Richerson are an essential reference for anyone interested in the topic of culture and its importance for the development of our species. Their recent book <a href="http://www.amazon.com/Not-Genes-Alone-Transformed-Evolution/dp/0226712125">Not By Genes Alone (2008)</a> is a good place to get started with their work. Additional references and material can be found in their personal homepages (<a href="http://www.sscnet.ucla.edu/anthro/faculty/boyd/Publications.htm">Boyd UCLA page</a> and <a href="http://www.des.ucdavis.edu/faculty/Richerson/Richerson.htm">Peter Richerson UC Davis Page</a>)</p>

				<h2>Mathematical Models of Cultural Evolution</h2>
				<p>Do you think the study of culture could benefit from mathematical models, such as coupled differential equations? Then, look no further than Luigi Cavalli-Sforza classic work on the topic. Whether you are interested in the transmission of lastnames or religious preferences you will find a model complete with derivations in his 1981 book <a href="http://www.amazon.com/Cultural-Transmission-Evolution-Luigi-Cavalli-Sforza/dp/0691082839/ref=sr_1_6?s=books&ie=UTF8&qid=1386531705&sr=1-6">Cultural Transmission and Evolution</a>. L.L. Cavalli-Sforza was a prolific author who wrote extensively about the evolution of culture as well as the estimation of phylogenetic trees and the spread of human populations, so if you are interested in this topic please do not hesitate to dive into this <a href="http://scholar.google.com/scholar?q=LL+cavalli-sforza&btnG=&hl=en&as_sdt=0%2C22">stream of literature</a>.</p>

				<h2>Quantitative Estimates of Cultural Production</h2>
				<p>Prior to the release of the dataset we are making available in this site, the largest linked dataset on cultural development and human accomplishments produced was that published by Charles Murray in his (2003) book <a href="http://www.amazon.com/Human-Accomplishment-Charles-Murray-ebook/dp/B000OVLJSC/ref=sr_1_sc_1?s=books&ie=UTF8&qid=1386532321&sr=1-1-spell&keywords=huma+accomplishment">Human Accomplishments</a>. Murray collected information from a number of linguistic sources from both the East and West and made this data available, together with a description of the data collection method, in his 2003 book. The book is an essential reference for anyone looking to work or study quantitative approaches estimating the level of cultural production for different regions and eras.</p>

				<h2>Culturomics</h2>
				<p>The work on n-grams by <a href="http://www.erez.com/">Erez Lieberman</a> and <a href="http://scholar.google.com/citations?user=rNL5rRIAAAAJ&hl=en">Jean-Baptiste Michel</a> has become well known among those working at the intersection of big data, networks, computer science and culture. The work looks at the n-grams (collections of n-characters) contained within the google books collection. You can explore the n-gram viewer by visiting this <a href="https://books.google.com/ngrams">link</a>.</p>

				<h2>Works using Wikipedia to Study Culture</h2>

				<p><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0074554">Eom and Shepelyansky</a> (2013) used Wikipedia to try to determine whether the fame of historical characters is local or global.</p>

				<p><a href="http://arxiv.org/abs/1204.3799">Aragon et al.</a> (2012) used Wikipedia to study differences in the links between biographies in different language editions.</p>

				<p><a href="http://www.whoisbigger.com/">Skiena and Ward</a> (2013) used the English Wikipedia to create rankings of important historical characters and topics.</p>

				<p><a href="http://arxiv.org/abs/1305.5566">Yasseri et al.</a> (2013) used the Wikipedia to study the topics that are more controversial in each language.</p>


			</div>
		</div>
	</div>
</template>