<template name="teamMember">
	<li class="team-member {{#if mobile}} mobile{{/if}}">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamMemberInfo">
	<span class="name">{{name}}</span>
	<div class="desc">{{description}}</div>
	<div class="photo_container">
		<img class="photo" src={{photo}} />
		{{#with media}} 
		<div class="info"> 
			{{#if personal}}<span class="icon-stack"><a href={{personal}} target="_blank"><i class="fa fa-home"></i></a></span>{{/if}}
			{{#if twitter}}<span class="icon-stack"><a href={{twitter}} target="_blank"><i class="fa fa-twitter"></i></a></span>{{/if}}           
			{{#if linkedin}}<span class="icon-stack"><a href={{linkedin}} target="_blank"><i class="fa fa-linkedin"></i></a></span>{{/if}}           
			{{#if email}}<span class="icon-stack"><a href={{email}} target="_blank"><i class="fa fa-envelope"></i></a></span>{{/if}}           
		</div>
		{{/with}}
	</div>
	<div class="role">
		<ul>
			{{#each role}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		{{dates}}
	</div>
</template>

<template name="team">
	<h1 id="team">The Pantheon Team</h1>
	<p>Pantheon is a project from the <a class="macro-link" href="http://macroconnections.media.mit.edu" target="_blank">Macro Connections</a> group at The MIT Media Lab. We are a team of designers, engineers, and scientists working collaboratively to quantify, analyze, measure and visualize global culture.</p>
	{{!#unless mobile}}
	<div class="team-row">
		<ul>
			{{#each first_row_teamMembers}}
			{{> teamMember}}
			{{/each}}
		</ul>
	</div>
	<div class="team-row">
		<ul>
			{{#each second_row_teamMembers}}
			{{> teamMember}}
			{{/each}}
		</ul>
	</div>
	<div class="team-row">
		<ul>
			{{#each third_row_teamMembers}}
			{{> teamMember}}
			{{/each}}
		</ul>
	</div>
	{{!/unless}}
	{{!#if mobile}}
		{{!#each allteamMembers}}
<!-- 				<div class="team-row">
			<ul>
			{{!> teamMember}}
			</ul>
		</div> -->
		{{!/each}}	
	{{!/if}}
</template>

<template name = "api">
	<div id = "API" class = "text-leftaligned">
		<h1 id="embed">Embedding the visualizations</h1>
		<h2>Building the API Call</h2>
		<p>You can generate the URL to embed any visualization from Pantheon by adding <code>/embed</code> the any link directly from the <a href="/">Visualizations</a> page of Pantheon.</p>
	    <p>This is the general URL structure used: 
	    	<code>/vizType/vizMode/paramOne/paramTwo/from/to/langs/dataset/embed</code></p>
	    <p>Sample embed code:
	    <pre class="prettyprint">&lt;iframe src="http://pantheon.media.mit.edu:5000/vizType/vizMode/paramOne/paramTwo/from/to/langs/dataset/embed"&gt;&lt;/iframe&gt;</pre></p>

	    <h2>Visualization Parameters</h2>
			<p>
				Where <code>vizType</code> is <code>treemap</code>, <code>matrix</code>, <code>scatterplot</code>, or <code>map</code>.
			</p>
			<p>
				Where <code>vizMode</code> is the mode of the selected visualization. 
			</p>
			<p>
				Where <code>paramOne</code> the first parameter based on the selected visualization type and mode.
			</p>
			<p>
				Where <code>paramTwo</code> the second parameter based on the selected visualization type and mode.
			</p>
	      	<p>
	      		Where <code>from</code> is the starting year of the time period requested.
	      	</p>
	      	<p>
	      		Where <code>to</code> is the ending year of the time period requested.
	      	</p>
	      	<p>
	      		Where <code>langs</code> is the index value based on the number of languages, the Historical Popularity Index, or the Murray index.
	      	</p>
	      	<p>
	      		Where <code>dataset</code> is either <code>pantheon</code> for the Pantheon 1.0 dataset, or <code>murray</code> for the Human Accomplishments dataset.
	      	</p>

	    <h2>Examples:</h2>
	    <p><b>Who are the globally known people born in present day China?</b></p>
		<pre class="prettyprint">&lt;iframe src="http://pantheon.media.mit.edu:5000/treemap/country_exports/TN/all/-4000/2010/H15/pantheon/embed" frameborder="1" width="600" height="400"&gt;&lt;/iframe&gt;</pre>
		<p><iframe src="http://pantheon.media.mit.edu:5000/treemap/country_exports/CN/all/-4000/2010/H15/pantheon/embed" frameborder="1" width="600" height="400" ></iframe></p>
	</div>
</template>

<template name="about">
	<div class="page-top methods"></div>
	<div id="page" class="{{#unless mobile}}min-width{{/unless}}">
		{{#unless mobile}}
		<div id="table-of-contents" class="text">	
		<div class="section-header">
				About Pantheon
		</div>		
			<ul class="nav nav-list">
				<li><a class="h1" href="/about/team">Team</a></li>
				<li><a class="h1" href="/about/API">API</a></li>
				<li><a class="h2" href="/about/API#embed">Embed</a></li>
			</ul>
		</div>
		{{/unless}}
		<div class="text-page-middle page-middle text team-page{{#if mobile}} mobile{{/if}}">
			{{ render_template }}
		</div>
	</div>
</div>
</template>