<template name="teamMember">
	<li class="span4 team-member">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamMemberInfo">
	<span class="name">{{name}}</span>
	<div class="desc">{{description}}</div>
	<div class="photo_container">
		<img class="photo" src={{photo}} />
		{{#with media}} 
		<div class="info"> 
			{{#if personal}}<span class="icon-stack"><a href={{personal}} target="_blank"><i class="fa fa-home"></i></a></span>{{/if}}
			{{#if twitter}}<span class="icon-stack"><a href={{twitter}} target="_blank"><i class="fa fa-twitter"></i></a></span>{{/if}}           
			{{#if linkedin}}<span class="icon-stack"><a href={{linkedin}} target="_blank"><i class="fa fa-linkedin"></i></a></span>{{/if}}           
			{{#if email}}<span class="icon-stack"><a href={{email}} target="_blank"><i class="fa fa-envelope"></i></a></span>{{/if}}           
		</div>
		{{/with}}
	</div>
	<div class="role">
		<ul>
			{{#each role}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		{{dates}}
	</div>
</template>

<template name="team">
	<div class="page-top">
		<div class="primary-text">
			About the Pantheon Team
		</div>
	</div>
	<!-- TODO Pull subparts into a template -->
	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle body-padding span6 offset3 text">
				<p>Pantheon is a project from the <a href="http://macroconnections.media.mit.edu" target="_blank">Macro Connections</a> group at The MIT Media Lab. We are a team of designers, engineers, and scientists working collaboratively to quantify, analyze, measure and visualize global culture.</p>
				<div class="row-fluid">
					<ul>
						{{#each first_row_teamMembers}}
						    {{> teamMember}}
						{{/each}}
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						{{#each second_row_teamMembers}}
						    {{> teamMember}}
						{{/each}}
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						{{#each third_row_teamMembers}}
						    {{> teamMember}}
						{{/each}}
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</template>