<template name="teamMember">
	<li class="span4 team-member">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="thirdRowTeamMember">
	<li class="span6 team-member">
		{{>teamMemberInfo}}
	</li>
</template>

<template name="teamMemberInfo">
	<span class="name">{{name}}</span>
	<div class="photo_container">
		<img class="photo" src={{photo}} />
		{{#with media}} 
		<div class="info"> 
			{{#if personal}}<span class="icon-stack"><a href={{personal}} target="_blank"><i class="icon-large icon-home"></i></a></span>{{/if}}
			{{#if twitter}}<span class="icon-stack"><a href={{twitter}} target="_blank"><i class="icon-large icon-twitter"></i></a></span>{{/if}}           
			{{#if linkedin}}<span class="icon-stack"><a href={{linkedin}} target="_blank"><i class="icon-large icon-linkedin"></i></a></span>{{/if}}           
			{{#if email}}<span class="icon-stack"><a href={{email}} target="_blank"><i class="icon-large icon-envelope"></i></a></span>{{/if}}           
		</div>
		{{/with}}
	</div>
	<div class="desc">{{description}}</div>
	<div class="role">
		<ul>
			{{#each role}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</template>

<template name="team">
	<div class="page-top">
		<div class="primary-text">
			About the Culture Team
		</div>
	</div>
	<!-- TODO Pull subparts into a template -->
	<div id="page" class="container-fluid">
		<div class="row-fluid">
			<div class="page-middle trans-bg body-padding span6 offset3">
				<p>The Observatory of Global Culture is a project led by the <a href="http://macroconnections.media.mit.edu" target="_blank">Macro Connections</a> group at MIT Media Lab. We are the team of designers, engineers, and data scientists behind this collaborative effort to collect, analyze, and visualize the cultural achievements of the world.</p>
				<div class="row-fluid">
					<ul>
						{{#each first_row_teamMembers}}
						    {{> teamMember}}
						{{/each}}
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						{{#each second_row_teamMembers}}
						    {{> teamMember}}
						{{/each}}
					</ul>
				</div>
				<div class="row-fluid">
					<ul>
						{{#each third_row_teamMembers}}
						    {{> thirdRowTeamMember}}
						{{/each}}
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</template>