<!-- Non-visualization specific explore page elements (e.g. accordion, menu) -->
<template name="visualizations">
    <div class="container-fluid">
        <div class="citation_msg">
            If you use the Pantheon dataset, please cite: Yu, A. Z., et al. (2016). Pantheon 1.0, a manually verified dataset of globally famous biographies. <em>Scientific Data</em> 2:150075. doi: 10.1038/sdata.2015.75
        </div>
        <div class="row-fluid">
            <div class="page-top {{#unless mobile}}span8 offset2{{else}}span12 mobile{{/unless}}">
                {{#if dataReady}}   
                    {{> question}} 
                    {{> date_header}}
                {{/if}}
            </div>
            {{#unless mobile}}
            <div class="page-top span2">
                {{> sharing_options}}
            </div>
            {{/unless}}
         </div>
    </div>

    <!-- Hack to bypass order of templating (not found when changing viz) -->
    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="{{#unless mobile}}page-left span2{{else}} span12 mobile{{/unless}} parameters" style="{{#if mobile}}display:none{{/if}}">
                    {{#if initialDataReady}}
                        {{> explore_options}} 
                    {{/if}}
                </div>
                 <!-- Visualization and Ranked List Container -->
                 <div class="page-middle {{#unless mobile}}span8{{else}}span12 mobile{{/unless}}">
                    {{> visualization}}
                </div>

                <div class="page-right span2">
                    {{#if initialDataReady}}
                    {{> ranked_list }}
                    {{/if}}
                </div>
                
                
                {{> tooltip}}
                {{> clicktooltip}}
            </div>
            <div class="row-fluid">
                {{#if initialDataReady}}
                <div class = "span12 feedback">
                    {{> place_of_birth}}
                    {{> feedback}}
                </div>
                {{/if}}
            </div>
            {{#if mobile}}
            <div class="row-fluid">
                {{> mobile_tooltip_ranking}}
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="embed">
    <div class="container-fluid">
        <div class="row-fluid">
            <div style="display:none">
                {{#if initialDataReady}}
                    {{> explore_options}} 
                {{/if}}
            </div>
            <div class="page-top embed span12">
                {{#if dataReady}}   
                    {{> question}} 
                    {{> date_header}}
                {{/if}}
            </div>
         </div>
    </div>
    <div id="page">
        <div class="container-fluid">
            <div class="row-fluid">
                 <!-- Visualization Container -->
                 <div class="page-middle span12 embed">
                    {{> visualization}}
                </div>
                {{> tooltip}}
            </div>
        </div>
    </div>
</template>

<template name="place_of_birth">
    <p>*According to present-day international boundaries. See our <a class="methods-link" href="/methods">methods page</a> for more information.</p>
</template>

<template name="feedback">
    <p>Help us improve our data! Notice any data that mismatches our methods? <a class="let-us-know" href="http://bit.ly/QWSKoc">Let us know.</a></p>
</template>

<template name="time_slider">
    <div class="slider"></div>
</template>

<template name="explore_options">
    <div class="viz-selector">
        <div class="section-header">
            Visualizations
        </div>
        {{> accordion}}
    </div>
    <div class="spacer"></div>
    <div class="viz-options">
        <div id="parameters" class="section-header{{#if mobile}} mobile{{/if}}">
            Parameters
        </div>
        {{> select_mode }}
    </div>
    <div class="spacer"></div>
</template>

<template name="visualization">
    {{ resize }}
    {{ render_template }}
</template>

<!-- Accordion Selector -->
<template name="accordion">
    <div class="accordion">
        <h3 class="app">TREEMAPS</h3>
        <div>
            <ul>
                <li>Of a Country</li>
                <ul>
                    <li><span><a href="/treemap/country_exports/{{randomCountry}}/all/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="treemap" data-viz-mode="country_exports" class="{{country_treemap_active}}">by cultural domain</a></span></li>
                    <li><span><a href="/treemap/country_by_city/all/{{randomPantheonCountry}}/{{from}}/{{to}}/H15/pantheon" data-viz-type="treemap" data-viz-mode="country_by_city" class="{{country_city_treemap_active}}">by city</a></span></li>
                </ul>
                <li>Of a Cultural Domain</li>
                <ul>
                    <li><span><a href="/treemap/domain_exports_to/{{randomDomain}}/all/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="treemap" data-viz-mode="domain_exports_to" class="{{domain_treemap_active}}">by country</a></span></li> 
                    <li><span><a href="/treemap/domain_exports_to_city/{{randomPantheonDomain}}/all/{{from}}/{{to}}/H15/pantheon" data-viz-type="treemap" data-viz-mode="domain_exports_to_city" class="{{domain_city_treemap_active}}">by city</a></span></li>
                </ul>
            </ul>
        </div>
        <h3 class="app">MATRICES</h3>
        <div>
            <ul>
                <li><span><a href="/matrix/matrix_exports/all/both/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="matrix" data-viz-mode="matrix_exports" class="{{matrix_active}}">Birthplaces and Domains</a></span></li>
            </ul>
        </div>
        <h3 class="app">SCATTERPLOTS</h3>
        <div>
            <ul>
                <li><span><a href="/scatterplot/country_vs_country/{{randomCountryX}}/{{randomCountryY}}/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="scatterplot" data-viz-mode="country_vs_country" class="{{cvc_active}}">Birthplace vs. Birthplace</a></span></li>
                <li><span><a href="/scatterplot/domain_vs_domain/{{randomDomainX}}/{{randomDomainY}}/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="scatterplot" data-viz-mode="domain_vs_domain" class="{{dvd_active}}">Domain vs. Domain</a></span></li>
            </ul>
        </div>
        <h3 class="app">MAPS</h3>
        <div>
            <ul>
                <li><span><a href="/map/map/{{randomDomain}}/all/{{from}}/{{to}}/{{index}}/{{dataset}}" data-viz-type="map" data-viz-mode="map" class="{{map_active}}">Global Production</a></span></li>
            </ul>
        </div>
        <!-- <h3 class="app">LINE CHARTS</h3> -->
<!--         <div>
            <ul>
                <li><span><a href="#" data-viz-type="line" data-viz-mode="country" class="{{country_active}}">Countries Over Time</a></span></li>
                <li><span><a href="#" data-viz-type="line" data-viz-mode="domain" class="{{domain_active}}">Domains Over Time</a></span></li>
            </ul>
        </div> -->
    </div>
</template>

<!-- Visualization and Viz-Mode specific Question -->
<template name="question">
    <div id="question" class="primary-text {{#if embed}} embed{{/if}}">{{question}}</div>
</template>

<template name="date_header">
    <div class="secondary-text">[<span class="from">{{from}}</span> &#8212; <span class="to">{{to}}</span>]</div>
</template>

<!-- Ranked List for Treemap -->
<template name="ranked_list">
    <div class="ranked_list">
        <div class="section-header">RANKINGS</div>
        <div class="content">
            {{#if empty}}
                <i>none for the selected criteria.</i>
            {{else}}
                <ol>
                {{#each top10}}
                    {{> ranked_person person_lookup}}
                {{/each}}
                </ol>
            {{/if}}
        </div>
        {{#if pantheon}}
        <div class="full-ranking-list"><a href="{{full_ranking_link}}">Go to Full Ranking List</a></div>
        {{/if}}
    </div>
</template>

<!-- Person in Ranked List -->
<template name="ranked_person">
    <a {{#if showPeopleLink}}href="{{pathFor 'people'}}" class="hover-bold{{#if mobile}} mobile{{/if}}"{{/if}}>
        <li>
            {{! insert thumbnail here}}
            {{name}}
            {{#unless mobile}}<br>{{/unless}}
            <span>
                {{occupation}}, b. {{birthday}} ({{index}})
            </span>
        </li>
    </a>
</template>

<template name="mobile_tooltip_ranking">
    {{#if tooltipShown}}
        {{#if tooltipDataReady}}
        <div class="ranked_list mobile-tooltip-ranking">
            <div class="section-header">{{heading}} ({{count}})</div>
            <div class="content">
                {{#if empty}}
                <i>none for the selected criteria.</i>
                {{else}}
                <ol>
                    {{#each top5}}
                    {{debugContext}}
                    {{> ranked_person person_lookup}}
                    {{/each}}
                </ol>
                {{/if}}
            </div>
            {{#if pantheon}}
            <div class="full-ranking-list"><a href="{{full_ranking_link}}">Go to Full Ranking List</a></div>
            {{/if}}
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<!-- Tooltips -->
<template name="tooltip">
    {{#if tooltipShown}}
        {{#if tooltipDataReady}}
            {{#unless mobile}}
            <div id="tooltip" style="top:{{position.top}}px; left:{{position.left}}px"    >
                <div id="tooltip-inner">
                    <div id="tooltip-top">
                        <span class="category">{{heading}}</span>
                        <div class="total-count">{{count}} {{suffix}}</div>
                    </div>
                    <div id="tooltip-bottom">
                        <div class="list">
                            {{#each top5}} 
                                {{> tt_person person_lookup}} 
                            {{/each}}
                        </div>
                        {{#if more}}<span class="extras">({{extras}} more)</span>    {{/if}}
                    </div>
                </div>
            </div>
            {{/unless}}
        {{/if}}
    {{/if}}
</template>

<!-- Person in tooltip list-->
<template name = "tt_person">
    {{name}}<span class="birthplace"> b. {{birthday}}, {{countryName}} ({{index}})</span><br />
</template>

<!-- Big Tooltip (Overlay for visualization click events -->
<!-- Reuses the d3plus tooltip_large styling TODO: update to custom styling for OGC-->
<template name="clicktooltip">
    {{#if showclicktooltip}}
        {{#if tooltipDataReady}}
        <div id = "clicktooltip">
            <div id="d3plus_tooltip_curtain_tree_map" class="d3plus_tooltip_curtain" style="background-color: rgb(255, 255, 255);"></div>
            <div id = "d3plus_tooltip_id_treemap" class="d3plus_tooltip d3plus_tooltip_large">
                <div class="d3plus_tooltip_container">
                    <div class="d3plus_tooltip_top">
                        <div class="d3plus_tooltip_title">{{title}}</div>
                        <div class="d3plus_tooltip_subtitle">{{count}} individuals</div>
                    </div>
                    <div class="d3plus_tooltip_bottom">
                        <div class="d3plus_tooltip_body">
                            <div>
                                {{ render_links }}
                            </div>
                        </div>
                        <div class="d3plus_tooltip_html">
                            {{> ranking_table }}
                            {{#if pantheon}}
                            <div class = "tooltip_to_rankings_link closeclicktooltip"><a href="{{full_ranking_link}}">View in Rankings page</a></div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="d3plus_tooltip_close" style="">×</div>
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>

<template name="domain_exporter_question">
    {{question}}
</template>

<template name="country_exports_question">
    {{question}}
</template>

<template name="city_exports_question">
    {{question}}
</template>

<template name="domain_advantage_question">
    Who has comparative advantage in <b>{{categoryName}}s</b>?
</template>

<template name="country_advantage_question">
    What is the comparative advantage of <b>{{countryName}}</b>?
</template>

<template name="treemap_domain_exports_to">
    <a class="closeclicktooltip" href="/treemap/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="treemap_country_exports">
    <a class="closeclicktooltip" href="/treemap/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="treemap_city_exports">
    <a class="closeclicktooltip" href="/treemap/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/treemap_icon.png"></a>
</template>

<template name="map_global_exports">
    <a class="closeclicktooltip" href="/map/map/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/map_icon.png"></a>
</template>

<template name="histogram_domain_exports_to">
    <a class="closeclicktooltip" href="/histogram/domain_exports_to/{{category}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="histogram_country_exports">
    <a class="closeclicktooltip" href="/histogram/country_exports/{{country}}/all/{{from}}/{{to}}/{{L}}/{{dataset}}"><img src="/histogram_icon.png"></a>
</template>

<template name="tt_treemap_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }}
    </div>
</template>

<template name="tt_treemap_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
</template>

<template name="tt_treemap_domain_exports_to_city">
    <div class="explore-group">
        <div class="question">{{> city_exports_question}}</div>
        {{> treemap_city_exports}} 
    </div>
</template>

<template name="tt_global_exports">
    {{> tt_treemap_country_exports }}
    {{> tt_treemap_domain_exports_to }}
</template>

<template name="tt_histogram_country_exports">
    <div class="explore-group">
        <div class="question">{{> domain_exporter_question}}</div>
        {{> treemap_domain_exports_to}}
        {{> map_global_exports }} 
    </div>
</template>

<template name="tt_histogram_domain_exports_to">
    <div class="explore-group">
        <div class="question">{{> country_exports_question}}</div>
        {{> treemap_country_exports}} 
    </div>
</template>