<template name="matrix">
    <div id="viz" class="matrix">
        {{#if dataReady}}
            {{> matrix_svg}}
            {{#unless mobile}}{{> time_slider}}{{/unless}}       
        {{else}}
            {{> spinner}}
        {{/if}}     
    </div>
</template>

<template name="matrix_svg">
    <svg class="header" width="{{properties.fullWidth}}" height="{{properties.headerHeight}}"></svg>
    <div class="scroll-container">
        <svg class="matrix" width="{{properties.fullWidth}}" height="{{properties.fullHeight}}"></svg>
    </div>
    <div class="scale">
        <svg class="color-scale"></svg>
    </div>
  </div>
</template>