<template name="matrix">
    <div class="page-middle {{#unless mobile}}span8{{else}}span12 mobile{{/unless}}">
        {{> message_update}}
        <div id="viz" class="matrix">
            {{#if dataReady}}
                {{> matrix_svg}}
                {{#unless mobile}}{{> time_slider}}{{/unless}}       
            {{else}}
                {{> spinner}}
            {{/if}}     
        </div>
    </div>
    {{#unless mobile}}
    <div class="page-right span2">
        {{#if initialDataReady}}
            {{> ranked_list }}
        {{/if}}
    </div>
    {{/unless}}
</template>

<template name="matrix_svg">
    <svg class="header" width="{{properties.fullWidth}}" height="{{properties.headerHeight}}"></svg>
    <div class="scroll-container">
        <svg class="matrix" width="{{properties.fullWidth}}" height="{{properties.fullHeight}}"></svg>
    </div>
    <div class="scale">
        <svg class="color-scale"></svg>
    </div>
  </div>
</template>