<template name="stackedAreaChart">
    <!-- TODO Why is the 12-column layout overflowing? -->
    <div class="page-middle span8">
	    <div id="viz">
            {{#if dataReady}}
                {{> stacked_svg}}
            {{else}}
                {{> spinner}}
            {{/if}}
	    </div>  {{! TODO Add color key for chart}}
    </div>
    <div class="page-right span2">
        {{#if initialDataReady}}
    	    {{> ranked_list }}
        {{/if}}
    </div>
</template>

<template name="stacked_svg">
    <!--svg width="{{properties.width}}" height="{{properties.height}}"></svg-->
</template>