<template name="treemap">
    <div class="page-middle span8">
	    <div id="viz" class="treemap">
            {{#if dataReady}}
                {{> treemap_svg}}
                {{> time_slider}} 
            {{else}}
                {{> spinner}}
            {{/if}}
	    </div>
    </div>
    <div class="page-right span2">
        {{#if initialDataReady}}
    	    {{> ranked_list }}
        {{/if}}
    </div>
</template>

<template name="treemap_svg">
    <svg class="treemap" width="{{properties.width}}" height="{{properties.height}}"></svg>
</template>