<template name="treemap">
    <!-- TODO Why is the 12-column layout overflowing? -->
    <div class="page-middle span8">
	    <div id="viz" class="treemap">
            {{#if dataReady}}
                {{> treemap_svg}}
                {{> time_slider}} 
            {{else}}
                {{! TODO Place this spinner somewhere central}}
                    {{> spinner}}
            {{/if}}
	    </div>
        {{! TODO: Move this out }}
<!--         <div class="legend">
            <div id="institutions" class="pill" style="background-color:#ECD078">Institutions</a></div>
            <div id="arts" class="pill" style="background-color:#D95B43">Arts</div>
            <div id="humanities" class="pill" style="background-color:#43c1d9">Humanities</div>
            <div id="business_and_law" class="pill" style="background-color:#C02942">Business &amp; Law</div>
            <div id="exploration" class="pill" style="background-color:#546c97">Exploration</div>
            <div id="public_figure" class="pill" style="background-color:#d278c2">Public Figure</div>
            <div id="science_and_technology" class="pill" style="background-color:#53a9f1">Science &amp; Technology</div>
            <div id="sports" class="pill" style="background-color:#79BD9A">Sports</div>
        </div> -->
<!--         {{!#if initialDataReady}}
            {{!> time_slider}}
        {{!/if}} -->
    </div>
    <div class="page-right span2">
        {{#if initialDataReady}}
    	    {{> ranked_list }}
        {{/if}}
    </div>
</template>

<template name="treemap_svg">
    <svg class="treemap" width="{{properties.width}}" height="{{properties.height}}"></svg>
</template>